{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    დამატება
    {% endblock %}

{% block content %}
    <div class="bg-image"></div>

    {% block styles_js %}
    {{ super() }}
    {% endblock %}


    <form action="add" method="post" class="add" enctype="multipart/form-data">
            <h2 class="head">დამატება</h2>
            <div class="flight_and_img">
                <div class="flight_and_img_label">
                    <label>გაგზავნის თარიღი</label>
                    <label>ფოტოს ატვირთვა</label>
                </div>
                {% if fl %}    
                <div class="flight_and_img_inputs">
                    <input type="date" name="flight" value="{{fl}}" required class="fandm">
                    {% else %}
                    <input type="date" name="flight" value="{{fl}}" required class="fandm">
                    {% endif %}
                    <input type="file" id="photo" required name="photo" class="fandm">
                </div>
            </div>


            
            <div class="form_sender">
                <div class="form_sender_labels">
                    <label class="input-label">გამზავნი</label>
                    <label class="input-label">გამგზავნის ტელ</label>
                </div>

                <div class="form_sender_inputs">
                    <input type="text" name="sender" required class="sender" placeholder="გვარი სახელი">
                    <input type="text" name="sender_phone" required class="sender" placeholder="ქართული ნომერი">
                </div>
            </div>
              

            <div class="form_recipient">
                <div class="form_recipient_labels">
                    <label>მიმღები</label>
                    <label>მიმღების ტელ</label>
                </div>
                <div class="form_recipient_inputs">
                    <input type="text" name="recipient" value="" required class="recipient" placeholder="გვარი სახელი">
                    <input type="text" name="recipient_phone" value="+7" required class="recipient">
                </div>
            </div>

            <div class="form_description">
                <div class="form_description_labels">
                    <label>აღწერა</label>
                </div>
                <div class="form_description_input">
                    <textarea name="inventory" required class="description"></textarea>
                </div>
            </div>

            <div class="form_information">
                <div class="form_information_labels">
                    <label>წონა</label>
                    <label>ღირებულება</label>
                    <label>პასპორტი</label>
                </div>
                <div class="form_information_inputs">
                    <input type="text" name="weight" value="" required class="information">
                    <input type="text" name="responsibility" value="" required class="information">
                    <input type="text" name="passport" value="" required class="information">
                </div>
            </div>

            <div class="form_information_2">
                <div class="form_information_2_labels">
                    <label>ნომერი</label>
                    <label>ფასი</label>
                    <label>ქალაქი</label>
                </div>
                <div class="form_information_2_inputs">
                    <input type="text" name="number" value="{{last_record}}" required class="information_2">
                    <input type="text" name="cost" value="" required class="information_2">
                    <select id="city-select" name="city" class="information_2">
                        <option value="Moscow">Moscow</option>
                        <option value="S.P.B">S.P.B</option>
                </select>
                </div>
            </div>
            
            <div class="form_payment">
                <input type="radio" name="payment" value="paid" required>
                გადახდილია
              </label>
            
              <label>
                <input type="radio" name="payment" value="not_paid">
                გადასახდელია
              </label>
            </div>

            <input type="submit" value="დასრულება">
        </form>



    
    {% for cat, msg in get_flashed_messages(True) %}
    <div class='flash {{cat}}'>{{msg}}</div>
    {% endfor %}




    </body>

{% endblock %}