{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    ჩასწორება
{% endblock %}
{% block content %}
<div class="bg-image"></div>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_add.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>


        <form action="/change" method="post" class="add" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ edit.id }}">
            <h2 class="head">რედაქტირება</h2>
            <div class="flight_and_img">
                <div class="flight_and_img_label">
                    <label>გაგზავნის თარიღი</label>
                </div> 
                <div class="flight_and_img_inputs">
                    <input type="date" name="flight" value="{{edit.flight}}" required class="fandm">
                    <input type="file" id="photo" name="photo" class="fandm">
                </div>
            </div>
        
        
            
            <div class="form_sender">
                <div class="form_sender_labels">
                    <label class="input-label">გამზავნი</label>
                    <label class="input-label">გამგზავნის ტელ</label>
                </div>
        
                <div class="form_sender_inputs">
                    <input type="text" name="sender" required class="sender" value="{{ edit.sender }}">
                    <input type="text" name="sender_phone" required class="sender" value="{{ edit.sender_phone }}">
                </div>
            </div>
              
        
            <div class="form_recipient">
                <div class="form_recipient_labels">
                    <label>მიმღები</label>
                    <label>მიმღების ტელ</label>
                </div>
                <div class="form_recipient_inputs">
                    <input type="text" name="recipient" required class="recipient" value="{{ edit.recipient }}">
                    <input type="text" name="recipient_phone" required class="recipient" value="{{ edit.recipient_phone }}">
                </div>
            </div>
        
            <div class="form_description">
                <div class="form_description_labels">
                    <label>აღწერა</label>
                </div>
                <div class="form_description_input">
                    <textarea name="inventory" required class="description">{{ edit.inventory }}</textarea>
                </div>
            </div>
        
            <div class="form_information">
                <div class="form_information_labels">
                    <label>წონა</label>
                    <label>ღირებულება</label>
                    <label>პასპორტი</label>
                </div>
                <div class="form_information_inputs">
                    <input type="text" name="weight" required class="information" value="{{ edit.weight }}">
                    <input type="text" name="responsibility" required class="information" value="{{ edit.responsibility }}">
                    <input type="text" name="passport" required class="information" value="{{ edit.passport }}">
                </div>
            </div>
        
            <div class="form_information_2">
                <div class="form_information_2_labels">
                    <label>ნომერი</label>
                    <label>ფასი</label>
                    <label>ქალაქი</label>
                </div>
                <div class="form_information_2_inputs">
                    <input type="text" name="number" required class="information_2" value="{{ edit.number }}">
                    <input type="text" name="cost" required class="information_2" value="{{ edit.cost }}">
                    <select id="city-select" name="city" class="information_2">
                        <option value="Moscow" {% if edit.city == "Moscow" %}selected{% endif %}>Moscow</option>
                        <option value="S.P.B" {% if edit.city == "S.P.B" %}selected{% endif %}>S.P.B</option>
                    </select>
                </div>
            </div>
              
            <input type="submit" value="დასრულება">
        </form>
        

    {% for cat, msg in get_flashed_messages(True) %}
<div class='flash {{cat}}'>{{msg}}</div>
{% endfor %}


{% endblock %}




