body {
    font-family: 'Noto Sans Georgian', sans-serif;

    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    height: 100%;
  }

.selected_date_block {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.selected_date_block.show {
    max-height: 500px; /* Максимальная высота, если список длинный */
    opacity: 1;
}


.status_color.დაუბეგრავი {
    background-color: #1991265c;
}

.status_color.დაბეგვრადი {
    background-color: #9119195c;
}

.status_color.გაურკვეველი {
    background-color: #9185195c;
}