.table_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}


h1 {
    color: #d2d2d2;
}
#recordsTable {
    width: 80%;
    /* border-collapse: collapse; */
    margin-bottom: 20px;
}
#recordsTable.table_headers {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.501);
}

.table_headers th, .table_values td {
    border: 2px solid #343641;
    text-align: center;
    padding: 8px;
    width: 5%;
}

.table_headers th {
    background-color: #343641;
    font-size: 16px;
    color: #d2d2d2;
}

.table_values td {
    background-color: #51515e;
    font-size: 14px;
    color: #d2d2d2;

}

.deleteBtn {
    cursor: pointer;
    color: white;
    background-color: #dc3545;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.deleteBtn:hover {
    background-color: #bd2130;
}


.table_headers tr:hover td,
.table_values tr:hover td {
    background-color: #222222; /* Цвет подсветки при наведении на строку */
}

.table_headers th,
.table_values td {
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}


/* Стили для статуса "დაუბეგრავი" (синий цвет) */
.status_color.დაუბეგრავი {
    color: blue;
    font-weight: bold;
}

/* Стили для статуса "დაბეგვრადი" (красный цвет) */
.status_color.დაბეგვრადი {
    color: red;
    font-weight: bold;
}

/* Стили для статуса "გაურკვეველი" (жёлтый цвет) */
.status_color.გაურკვეველი {
    color: yellow;
    font-weight: bold;
}




.add_form {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Распределяем элементы равномерно по горизонтали */
    align-items: center; /* Выравниваем элементы по центру по вертикали (по желанию) */
    width: 950px;
    background-color: #444654;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.501);

    /* Добавляем следующие свойства для центрирования по горизонтали */
    margin-left: auto;
    margin-right: auto;
}

/* Пример стилей для дочерних элементов (замените на ваши собственные стили) */
.add_form label,
.add_form input,
.add_form button {
    margin: 5px; /* Добавьте отступы, чтобы элементы не слипались слишком близко друг к другу */
    margin-left: 15px;
}


.form-group {
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы в колонну */
}


.add_form label {
    width: 150px;
    height: 20px;
    text-align: center;
    color: #8e8ea0;;
}

.add_form input, .trecing_check_block input {
    width: 150px;
    height: 30px;
    border: none;
    background-color: #40414f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #8e8ea0;
    border-radius: 10px;
    text-align: center;
}

.add_form button, .trecing_check_block button {
    background-color: #333333;
    border: none;
    cursor: pointer;
    color: #8e8ea0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}




.ss {
    background-color: #444654;
    width: 400px;
    display: flex;
    justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
    margin: 20px auto; /* Устанавливаем автоматичесные отступы слева и справа для центрирования */
    border-radius: 10px;
    color: #8e8ea0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.501);
}

.xml_block {
    display: flex;
    flex-direction: row; /* Изменяем направление расположения на горизонтальное */
    align-items: center;
    justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
    margin: 20px auto; /* Устанавливаем автоматичесные отступы слева и справа для центрирования */
    width: 300px;
    /* background-color: #444654; */
}
.xml_block input[type="file"] {
    margin-right: 10px; /* Добавим отступ между полем выбора файла и кнопкой */
}

.xml_block button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #8e8ea0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #333333;
}

#file-upload-button {
    background-color: #333333;
}
.xml_block button:hover {
    background-color: #45a049;
}

.xml_block input[type="file"]::-webkit-file-upload-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.xml_block input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #45a049;
}


.trecing_check_block {
    display: flex;
    flex-direction: row; /* Изменяем направление расположения на горизонтальное */
    align-items: center;
    justify-content: center; /* Центрируем элементы по горизонтали */
    margin: 20px auto; /* Устанавливаем автоматические отступы слева и справа для центрирования */
    width: 400px;
    background-color: #444654;
    border-radius: 10px;
    color: #8e8ea0;
    height: 77px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.501);
}ё


#trecing_checker {
    margin-right: 10px; /* Добавим небольшой отступ между текстовым полем и кнопкой */
}


.sheet1 {
    width: 950px;
    display: flex; /* Используем flexbox */
    flex-direction: row; /* Распределяем элементы в ряд по горизонтали */
    justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по центру по вертикали (по желанию) */
    margin: 20px auto; /* Устанавливаем автоматические отступы слева и справа для центрирования */
}

.trecing_check_block input {
    margin-right: 20px;
}




