html, body {
    background-color: #eee;
    font-family: sans-serif;
}

.blanks_block,
.blanks_block_ {
    height: 520px;
    width: 700px;
    margin: 0 auto; /* Устанавливаем автоматические отступы по горизонтали, что центрирует блок */
    border-radius: 5px;
    background-color: #eee;
    color: #444444;
    border: none;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-left: 25px;
    font-weight: bold;

}


.description {
    font-weight: bold;
    font-size: 16px;
    width: 135px;
    text-align: right;
    
  }

.line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .line > * {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .line > :last-child {
    margin-right: 0;
  }
  
.content-duo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
  }

.content-duo input[type="radio"] {
    width: 30px;
  }

  .content-duo input {
    color: #444444;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-top: -10px;
    width: 230px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}

.content-duo input:focus, .content-trio input:focus, .content-solo input:focus {
    box-shadow: 0 0 5px #eee;
    outline: none;
}

.content-trio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 164px;
}

.content-trio input {
    color: #444444;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-top: -10px;
    width: 140px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}

.content-trio select {
    color: #444444;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-top: -10px;
    width: 140px;
    
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}


.content-solo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 510px;
}

.content-solo input {
    color: #444444;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-top: -10px;
    width: 490px;

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}






.radio-block {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 230px;
    border-radius: 5px;
    text-align: center;
    margin-top: -10px;
    display: flex; /* Добавьте это свойство для отображения дочерних элементов в ряд */
    justify-content: center; /* Центрирование радио кнопок по горизонтали */
    height: 36px;
}

/* Стили для радио кнопок внутри .border_block */
.radio-block input[type="radio"] {
    margin: 0 5px; /* Расстояние между радио кнопками */
}


/* Скрыть оригинальные радиокнопки */
.radio-label input[type="radio"] {
    opacity: 0;
    position: absolute;
}

/* Создать стилизованные заменители для радиокнопок */
.radio-label {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.radio-custom {
    display: inline-block;
    border: none;
    border-radius: 5px;
}


.radio-custom img {
    width: 32px;
    height: 32px;
}



.radio-label-text {
    font-size: 25px; /* Размер описания радио кнопки */
}

/* При наведении добавить эффекты */
.radio-label:hover .radio-custom {
    background-color: #1b02ffb4;
    color: #000000;
}

/* При выборе радиокнопки изменять стили заменителя */
.radio-label input[type="radio"]:checked + .radio-custom {
    background-color: #1b02ffb4;
    padding: 1px;
    border-color: #007bff;
    color: rgb(0, 0, 0);
}




#scrollToTopButton {
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 20px; /* Расстояние от нижнего края страницы */
    right: 20px; /* Расстояние от правого края страницы */
    cursor: pointer;
}



.blocks {
    /* Чтобы блоки внутри .blocks выстроились в ряд */
    display: flex;
    /* Чтобы блоки выравнивались по горизонтали */
    justify-content: space-between; /* Равномерное распределение между элементами */
    /* align-items: center; */ /* Выравнивание элементов по вертикали (если нужно) */
}








/* Стили для модального окна */
.modal_statistic, .modal-delivery {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    color: #d2d2d2;
  }



  
  .modal_statistic-content, .modal-delivery-content {
    background-color: #353742;
    margin: 1% auto;
    padding: 20px;
    border-radius: 5px;
    width: 850px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

.modal-delivery-content {
    width: 950px;
}


/* Стили для контейнера диаграмм */
.diagram_box_block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 400px;
  
    
}


.diagram_block, .diagram_block_two, .diagram_block_three, .diagram_block_four {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border-radius: 5px;

}


/* Стили для canvas внутри диаграммы */
canvas {
    background-color: #444654;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  

  .red_blanks_block {
    /* Ваши стили для блоков, сумма весов в которых >= 30 */
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.776);
}


.send-data {
    padding-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-data button {
    background-color: green;
    color: #d3d3d3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.send-data button:hover{

    color: #fff;
}

.item-id {
    width: 100%;
    text-align: center;
}


.blue-text {
    color: blue;
}

.blanks_block h1 {
    width: 100%;
    text-align: center;
}



.list-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}


.list-menu > *:not(:last-child) {
    margin-right: 20px;
}

.edit-list {
    width: 100%;
    text-align: center;
}


button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 5px;
    background-color: transparent;
    transition: width 0.3s ease, left 0.3s ease;
}

button:hover:after {
    width: 100%;
    left: 0;
    background-color: rgb(0, 26, 255);
}


input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    margin-top: 10px;
}



  





.header {
    color: #007bff; /* Синий цвет заголовка */
}

.list-group-item {
    transition: transform 0.3s ease-in-out; /* Анимация при наведении */
}

.list-group-item:hover {
    transform: scale(1.02); /* Увеличение элемента при наведении */
}

h6 {
    color: #17a2b8; /* Цвет подзаголовков */
}

p {
    margin-bottom: 0.5rem; /* Отступы между параграфами */
}


.parcel-description {
    white-space: pre-wrap; /* Сохраняет переносы строк и пробелы в тексте */
    word-wrap: break-word; /* Переносит длинные слова на новую строку */
    margin-bottom: 1rem; /* Увеличенный отступ снизу */
}


.list-group-item:nth-child(odd) {
    background-color: #ffffff; /* Светлый фон для нечетных элементов */
}

.list-group-item:nth-child(even) {
    background-color: #f2f2f2; /* Немного темнее для четных элементов */
}

.green {
    color: rgba(1, 167, 1, 0.645);
    font-weight: bold;
}

.red {
    color: rgba(255, 0, 0, 0.779);
    font-weight: bold;
}

.bold, h6 {
    font-weight: bold;
}

.bold {
color: #000000a0;

}

.stat-name {
    width: 100%;
    text-align: center;
}
.stat {
    border-collapse: collapse;
    border: 1px solid #ffffff;
    margin: 0 auto;
  }

.stat-tr {
  border-bottom: 1px solid #ffffff;
  width: 200px;
}

.stat td, th {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ffffff;
}

.stat td:last-child {
  border-right: none;
}