body {
  background: #353745;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.login-window {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
    width: 400px;
    padding: 30px;
    background: #444654;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    animation: slideIn 0.5s ease;
}

.login-title {
  text-align: center;
  color: #8e8ea0;
  font-size: 24px;
  margin-bottom: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: #40414f;
  color: #8e8ea0;
  font-size: 16px;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: #8e8ea0;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333333;
  color: #8e8ea0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;

  transition: background 0.3s ease;
}

.submit-button:hover {
  background: #202020;
}

.flash.success {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  padding: 10px;
  background-color: #389027;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.981);
  z-index: 9999;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.flash.error {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  padding: 10px;
  background-color: #cc0000;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.981);
  z-index: 9999;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
