/* Стили для контейнера с календарем */
.calendar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 90%; /* Максимальная ширина для удобства чтения */
  height: 570px;
  background-color: #444654; /* Светлый фон */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Более мягкая тень */
  padding: 20px;
  text-align: center; /* Центрирование текста */
  color: #8e8ea0;
}

.fc-state-default {
  background-color: #333333;
  color: #8e8ea0;
}


/* Стили для календаря */
#calendar {
  padding: 20px;
  width: 90%; /* Ширина 100% контейнера */
  font-weight: bold;
  height: 450px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Более мягкая тень */
  border-radius: 10px;
}

/* Стили для выбора маршрута */
label {
  font-size: 20px;
  color: #8e8ea0; /* Черный цвет текста */
  font-weight: bold;
  margin-bottom: 5px; /* Добавляем 5 пикселей нижнего отступа */
}

#route {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc; /* Слабая граница */
  border-radius: 5px;
  background-color: #40414f;
  color: #8e8ea0;
}

/* Стили для кнопки "Выбрать" */
#select-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

#select-button:disabled {
  background-color: #333333;
  cursor: not-allowed;
  color: #8e8ea0;
}

#select-button:hover {
  background-color: #2980b9; /* Цвет при наведении */
}



/* Стили для подсветки ячейки при нажатии */
.fc-content-skeleton .fc-day.selected {
  background-color: #3498db; /* Цвет подсветки */
  color: white; /* Цвет текста при подсветке */
}



#calendar .fc-day.selected {
  background-color: #3498db; /* Цвет подсветки */
  color: white; /* Цвет текста при подсветке */
}