
/*стиль для добавления посылки*/




/*конец стиля для добавления посылки*/


/* Задний фон */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/2801.jpg");
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}

/* конец заднего фона  */

/* меню сайта */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #88c1db, #dfe9f3);
  box-shadow: 0 3px 5px rgba(70, 56, 21, 0.3);
  z-index: 999; /* добавьте z-index для обеспечения корректного отображения меню */
}


.menu {
  display: flex;
  justify-content: center;
}

.menu__list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center; /* центрируем пункты меню */
  align-items: center; /* центрируем текст внутри пунктов меню */
  width: 75%;
}


.menu__item {
  margin: 0.5%;
  margin-right: 5%;
  padding: 0.5rem; /* уменьшаем отступы */
}

.menu__link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem; /* уменьшаем размер шрифта */
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.menu__link:hover {
  color: #666;
}

@media only screen and (max-width: 768px) {
  .menu__list {
    width: 100%;
  }
}

/* флеш сообщения */


.flash.success {
  position: fixed;
  top: 50%; /* Положение сверху - на 50% экрана */
  left: 50%; /* Положение слева - на 50% экрана */
  transform: translate(-50%, -50%); /* Центрирование по вертикали и горизонтали */
  width: auto; /* Ширина автоматически регулируется содержимым */
  max-width: 300px; /* Максимальная ширина блока */
  height: 50px; /* Высота автоматически регулируется содержимым */
  padding: 10px;
  background-color: #42a429;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.981);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5; /* Межстрочное расстояние для лучшей читаемости */
  overflow: hidden; /* Обрезаем лишний текст, если он не помещается */
}



.flash.error {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  padding: 10px;
  background-color: #ff0000;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.981);
  z-index: 9999;
  border-radius: 5px;
  color: #fff; /* цвет текста */
  text-align: center; /* выравнивание текста по центру */
  font-family: Arial, sans-serif; /* выбранный шрифт */
}



/* конец флеш сообщения */





/*404*/
.not_found_img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/not_found.jpg");
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
  background-position: center; /* Центрирование изображения */

}


.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  text-align: center;
  color: white;
  margin-left: 5%;
}

.not_found h1 {
  margin-left: 5%;
  font-size: 36px;
  margin-bottom: -15px;
}

.not_found h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.not_found a {
  display: inline-block;
  font-size: 18px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5%;
  
}

.not_found a:hover {
  background-color: gray;
  color: white;
}



/* загрузка сайта */

