
body {
    background-color: #152735;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}


.bg-image_l {
  position: fixed;
  top: 0;
  left: 50%; /* Позиционируем по центру горизонтально */
  transform: translateX(-50%); /* Центрируем по горизонтали относительно родителя */
  right: 0;
  bottom: 0;
  background-image: url("../images/logo 1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: -1;
  width: 700px;

}


.menu_block {
  width: 800px;
  height: 500px;
  background-color: #444654;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



.first_line_block, .last_line_block, .last_line {
    width: 100%;
    height: 35%;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.menu_element_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el, .el2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 50px; /* Уменьшаем отступ между элементами "el" */
}

.el:last-child, .el2:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента "el" */
}

.el img, .el2 img {
    width: 150px;
    height: 150px;
}

.el label, .el2 label {
    width: 150px;
    height: 20px;
    color: #8e8ea0; /* Белый текст */
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px; /* Увеличиваем размер шрифта */
}




/*  */

.main-content {
  flex-grow: 1;
}


.footer {
  background-color: #343641;
  color: #8e8ea0;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}










/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

/* Дополнительные стили могут быть добавлены по вашему усмотрению */






.modal-reservation,
.modal-blanks-select,
.modal-add-select {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  color: #d2d2d2;
}
.modal-reservation input,
.modal-reservation select,
.modal-blanks-select input,
.modal-blanks-select select,
.modal-add-select input,
.modal-add-select select {
  background-color: #40414f;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  width: 230px;
  height: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
  color: #8e8ea0;;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-reservation button,
.modal-blanks-select button,
.modal-add-select button {
  background-color: #333333;
  color: #8e8ea0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
}
.modal-reservation-content label,
.modal-blanks-content label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-reservation button:hover,
.modal-blanks-select button:hover,
.modal-add-select button:hover {
  background-color: #1a1a1a;
}
.modal-reservation-content,
.modal-blanks-content,
.modal-add-content {
  background-color: #444654;
  margin: 0; /* Убрать внешние отступы */
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  position: absolute; /* Абсолютное позиционирование */
  top: 50%; /* Разместить блок по вертикали на 50% высоты экрана */
  left: 50%; /* Разместить блок по горизонтали на 50% ширины экрана */
  transform: translate(-50%, -50%); /* Центрировать относительно самого блока */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}




.flash.success {
  position: fixed;
  top: 50%; /* Положение сверху - на 50% экрана */
  left: 50%; /* Положение слева - на 50% экрана */
  transform: translate(-50%, -50%); /* Центрирование по вертикали и горизонтали */
  width: auto; /* Ширина автоматически регулируется содержимым */
  max-width: 300px; /* Максимальная ширина блока */
  height: 50px; /* Высота автоматически регулируется содержимым */
  padding: 10px;
  background-color: #42a429;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.981);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5; /* Межстрочное расстояние для лучшей читаемости */
  overflow: hidden; /* Обрезаем лишний текст, если он не помещается */
}



.flash.error {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  padding: 10px;
  background-color: #ff0000;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.981);
  z-index: 9999;
  border-radius: 5px;
  color: #fff; /* цвет текста */
  text-align: center; /* выравнивание текста по центру */
  font-family: Arial, sans-serif; /* выбранный шрифт */
}




.dates_block {
  display: flex;
  flex-direction: row; /* Расположение элементов в ряд по горизонтали */
}




.dates_block > *:not(:last-child) {
  margin-right: 30px;
}

.msk_list_block,
.spb_list_block {
  height: 150px; /* Установите максимальную высоту блока в 50 пикселей */
  width: 180px;
  overflow-y: auto; /* Добавьте вертикальную прокрутку при необходимости */
  border: solid 1px;
  border-top-left-radius: 20px; /* Закругляем левый верхний угол */
  border-bottom-left-radius: 20px; /* Закругляем левый нижний угол */
  border-top-right-radius: 0; /* Убираем закругление с правого верхнего угла */
  border-bottom-right-radius: 0; /* Убираем закругление с правого нижнего угла */
}

/* Изменяем стиль полосы прокрутки */
.msk_list_block::-webkit-scrollbar,
.spb_list_block::-webkit-scrollbar {
  width: 5px; /* Ширина элемента прокрутки */
  background: rgba(0, 0, 0, 0.2); /* Задаем прозрачный цвет фона */
  
}

/* Изменяем стиль ползунка полосы прокрутки */
.msk_list_block::-webkit-scrollbar-thumb,
.spb_list_block::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Задаем более прозрачный цвет ползунка */
  border-radius: 5px; /* Закругляем углы ползунка */
  
  
}

/* Изменяем стиль трека полосы прокрутки */
.msk_list_block::-webkit-scrollbar-track,
.spb_list_block::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Задаем прозрачный цвет трека */
  
}


.dates_block label {
  font-size: 20px;
}



.dates_block a:link, .dates_block a:visited {
  color: white; /* Цвет текста для невыбранной и посещенной ссылки */
  text-decoration: none; /* Убираем подчеркивание */
}




.dates_block a:hover {
  color: red; /* Цвет текста при наведении курсора */
}


@media screen and (min-width: 360px) and (max-width: 780px) {
  .menu_block {
    width: 90%; /* Примерное значение, которое можно изменить */
    max-width: 600px; /* Примерное значение, которое можно изменить */
    height: auto; /* Автоматическая высота, чтобы контент внутри мог подстраиваться */
    background-color: #444654;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.el img, .el2 img {
  width: 50px;
  height: 50px;
}

.el, .el2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 15%;
}

.el label, .el2 label {
  
  color: #8e8ea0;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}


.footer {
  background-color: #343641;
  color: #8e8ea0;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  height: 200px;

}
h3 {
  font-size: 11px;
  width: 90%;
}

p {
  font-size: 8px;
  width: 88%;
}

.bg-image_l {
  position: fixed;
  top: 0;
  left: 50%; /* Позиционируем по центру горизонтально */
  transform: translateX(-50%); /* Центрируем по горизонтали относительно родителя */
  right: 0;
  bottom: 0;
  background-image: url("../images/logo 1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: -1;
  width: 250px;

}


}
