
body {
    background-color: #353745;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

.menu_block {
  width: 800px;
  height: 550px;
  background-color: #444654;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 20px auto; /* Выровнять по центру горизонтально и добавить отступы сверху и снизу */
  /* Другие стили для меню блока */
}

.first_line_block, .last_line_block {
    width: 100%;
    height: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_element_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el, .el2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 50px; /* Уменьшаем отступ между элементами "el" */
}

.el:last-child, .el2:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента "el" */
}

.el img, .el2 img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Добавляем закругление углов для изображений */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Улучшаем тень изображений */
}

.el label, .el2 label {
    width: 150px;
    height: 20px;
    color: #8e8ea0; /* Белый текст */
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px; /* Увеличиваем размер шрифта */
}


@media screen and (max-width: 600px) {
    .menu_block {
        width: 100%;
        height: 50%;
        border-radius: 0;
        margin-left: 20px;
    }

    .footer {
      font-size: 4px;
    }

    .footer h3 {
      font-size: 6px;
      margin-top: 0;
    }


    .menu_button img {
        width: 100%;
        height: 25%;
        float: right;
    }

    .first_line_block, .last_line_block {
        height: 50%;
    }

    .el, .el2 {
        margin-right: 20px;
        margin-bottom: 20px; /* Добавляем отступ снизу между элементами "el" */
    }

    .el:last-child, .el2:last-child {
        margin-right: 0; /* Убираем отступ у последнего элемента "el" */
    }

    .el img, .el2 img {
        width: 100px; /* Уменьшаем размер изображения для мобильных устройств */
        height: 100px;
    }

    .el label, .el2 label {
        width: 100px;
        height: 10px;
        font-size: 16px; /* Уменьшаем размер шрифта для мобильных устройств */
    }
}



/*  */

.main-content {
  flex-grow: 1;
}


.footer {
  background-color: #343641;
  color: #8e8ea0;
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* Другие стили для футера */
}


.footer-block {
  max-width: 200px;
}

.footer h3 {

  margin-top: 0;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #e445ff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}







/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

/* Дополнительные стили могут быть добавлены по вашему усмотрению */






.modal-reservation,
.modal-blanks-select {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  color: #8e8ea0;
}
.modal-reservation input,
.modal-reservation select,
.modal-blanks-select input,
.modal-blanks-select select {
  background-color: #40414f;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  width: 230px;
  height: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
  color: #8e8ea0;;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-reservation button,
.modal-blanks-select button {
  background-color: #333333;
  color: #8e8ea0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
}
.modal-reservation-content label,
.modal-blanks-content label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-reservation button:hover,
.modal-blanks-select button:hover {
  background-color: #1a1a1a;
}
.modal-reservation-content,
.modal-blanks-content {
  background-color: #444654;
  margin: 15% auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Расположение элементов в столбце сверху вниз */
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: flex-start; /* Выравнивание контента сверху */
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}




