

.navigation_block {
  background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
}

.pictures_list_block {
  padding: 15px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для блока */
}

.form-label {
  font-size: 0.9rem;
  font-weight: 600;
}

.form-control, .form-select {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-control::placeholder, .form-select::placeholder {
  color: #ccc;
}

.btn {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #067075;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #065f5f;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.table {
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.918); /* Полупрозрачный фон для таблицы */
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table th {
  background-color: #0EA5E9;
  color: #ffffff; 
}

.table tbody tr.green {
  background-color: rgba(13, 110, 23, 0.2); /* Легкий зеленый фон для доставки */
}

.table tbody tr.red {
  background-color: rgba(220, 53, 69, 0.2); /* Легкий красный фон для статуса отправки */
}

.table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Легкое выделение строк при наведении */
}

.table .icon {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 10px;
  color: #4ca1af;
}

.table .icon:hover {
  color: #0d6efd;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cost_block {
  color: #ccc;
  font-weight: 600;
}

.cost_block.positive {
  color: #28a745; /* Зеленый для положительных значений */
}

.cost_block.negative {
  color: #dc3545; /* Красный для отрицательных значений */
}

.number {
  font-weight: bold;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}


/* Стили для отображения картинки */
.image-preview {
  position: absolute;
  z-index: 9999;
  max-width: 500px;
  max-height: 900px;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #000;
  padding: 10px;
  display: none;
}

/* Мелкие стили для улучшения отображения */
#previewImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}