
/*стиль для добавления посылки*/


/*конец стиля для добавления посылки*/
body {
  background-color: #353745;
}

/* Задний фон */
/* .bg-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/2801-.jpg");
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}
 */



/* конец заднего фона  */

/* меню сайта */


/* флеш сообщения */


.flash.success {
  position: fixed;
  top: 50%; /* Положение сверху - на 50% экрана */
  left: 50%; /* Положение слева - на 50% экрана */
  transform: translate(-50%, -50%); /* Центрирование по вертикали и горизонтали */
  width: auto; /* Ширина автоматически регулируется содержимым */
  max-width: 300px; /* Максимальная ширина блока */
  height: 50px; /* Высота автоматически регулируется содержимым */
  padding: 10px;
  background-color: #42a429;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.981);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5; /* Межстрочное расстояние для лучшей читаемости */
  overflow: hidden; /* Обрезаем лишний текст, если он не помещается */
}



.flash.error {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  padding: 10px;
  background-color: #ff0000;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.981);
  z-index: 9999;
  border-radius: 5px;
  color: #fff; /* цвет текста */
  text-align: center; /* выравнивание текста по центру */
  font-family: Arial, sans-serif; /* выбранный шрифт */
}



/* конец флеш сообщения */





/*404*/
.not_found_img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/not_found.jpg");
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
  background-position: center; /* Центрирование изображения */

}


.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  text-align: center;
  color: white;
  margin-left: 5%;
}

.not_found h1 {
  margin-left: 5%;
  font-size: 36px;
  margin-bottom: -15px;
}

.not_found h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.not_found a {
  display: inline-block;
  font-size: 18px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5%;
  
}

.not_found a:hover {
  background-color: gray;
  color: white;
}



/* загрузка сайта */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444654; /* Задний фон не прозрачный */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  margin: 0 10px; /* Расстояние между кружочками */
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Плавное изменение видимости */
}


/*модельное окно меню*/
    /* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.Menu-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 550px;
    background-color: #444654;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

/* Стили для кнопки закрытия модального окна */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.first_line_block, .last_line_block {
    width: 100%;
    height: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_element_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el, .el2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 50px;
}

.el:last-child, .el2:last-child {
    margin-right: 0;
}

.el img, .el2 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.el label, .el2 label {
    width: 150px;
    height: 20px;
    color: #8e8ea0;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.menu_button {
    position: absolute; /* Абсолютное позиционирование */
    top: 5px; /* Располагаем кнопку вверху */
    right: 20px; /* Располагаем кнопку вправо */
    width: 75px; /* Задаем ширину кнопки */
    height: 75px; /* Задаем высоту кнопки */
}

#openModalButton {
    width: 100px; /* Заполняем всю доступную ширину */
    height: 100%; /* Заполняем всю доступную высоту */
    
}

.menu_block {
    position: fixed; /* Задаем позицию блока как фиксированную */
    top: 0; /* Закрепляем блок в верхней части окна браузера */
    right: 0; /* Закрепляем блок в правой части окна браузера */
    z-index: 99; /* Задаем z-index, чтобы блок был выше других элементов */

}


/* CSS для начального состояния модального окна */
#ModalMenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: rgba(93, 93, 93, 0.604);
    overflow: hidden;
    transition: 0.5s; /* Длительность анимации */
    transform-origin: right top; /* Устанавливаем точку начала анимации в правом верхнем углу */
    transform: scale(0); /* Начальный масштаб 0 */
    z-index: 50; /* Задаем z-index, чтобы блок был выше других элементов */
}

/* CSS для открытого состояния модального окна */
#ModalMenu.open {
    width: 100%;
    height: 100%;
    transform: scale(1); /* Завершение анимации с масштабом 1 (обычный размер) */
}






.modal-reservation,
.modal-blanks-select,
.modal-add-select {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  color: #8e8ea0;
}
.modal-reservation input,
.modal-reservation select,
.modal-blanks-select input,
.modal-blanks-select select,
.modal-add-select input,
.modal-add-select select {
  background-color: #40414f;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  width: 230px;
  height: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
  color: #8e8ea0;;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-reservation button,
.modal-blanks-select button,
.modal-add-select button {
  background-color: #333333;
  color: #8e8ea0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
}
.modal-reservation-content label,
.modal-blanks-content label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-reservation button:hover,
.modal-blanks-select button:hover,
.modal-add-select button:hover {
  background-color: #1a1a1a;
}
.modal-reservation-content,
.modal-blanks-content,
.modal-add-content {
  background-color: #444654;
  margin: 15% auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Расположение элементов в столбце сверху вниз */
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: flex-start; /* Выравнивание контента сверху */
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}






#message-container {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 9999;
}

#message-container.success {
  background-color: #4CAF50;
}

#message-container.error {
  background-color: #c72b1f;
}


