body {
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  color: #ffffff;
}

/* Фон таблицы и строки */
.table-responsive {
  margin: 20px;
  max-height: 800px; /* Максимальная высота блока */
  overflow-y: auto;  /* Добавляем вертикальную прокрутку */
}

.table {
  background-color: #ffffff;
  color: #333333;
}

.table thead {
  background-color: #4ca1af;
  color: #ffffff;
}

.table tbody tr.green {
  background-color: #d4edda; /* Зеленый фон для доставки */
}

.table tbody tr.red {
  background-color: #f8d7da; /* Красный фон для статуса отправки */
}

.table .icon {
  cursor: pointer;
  font-size: 1.2rem; /* Размер иконок */
  margin-right: 10px; /* Отступы между иконками */
  color: #4ca1af;
}

.table .icon:hover {
  color: #0d6efd; /* Цвет при наведении */
}

/* Формы */
.form-control {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #4ca1af;
}

.form-control::placeholder {
  color: #666666;
}


.navigation_block {
  background-color: #ffffff;
  color: #333333;
  border-radius: 8px;
}

.form-label {
  color: #333333;
}

.form-control, .form-select {
  border: 1px solid #4ca1af;
  border-radius: 5px;
}

.btn-primary {
  background-color: #4ca1af;
  border-color: #4ca1af;
}

.btn-primary:hover {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


/* Применяем к ячейкам таблицы */
td {
  white-space: nowrap; /* Запрещает перенос строк внутри ячейки */
  overflow: hidden; /* Скрывает текст, который не помещается в пределах ячейки */
  text-overflow: ellipsis; /* Добавляет многоточие в конце строки, если текст не помещается */
}

/* Стили для блока с действиями */
.actions {
  max-height: 0; /* Начальная высота для плавного перехода */
  overflow: hidden; /* Скрытие переполненного текста */
  opacity: 0; /* Начальная прозрачность */
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Плавное изменение высоты и прозрачности */
  width: 10px;
  
}

/* Раскрытие блока */
.actions.show {
  max-height: 200px; /* Устанавливаем максимальную высоту для раскрытия */
  opacity: 1; /* Полная непрозрачность */
  width: auto;
}

.actions.show .inner-element {
  position: absolute; /* Абсолютное позиционирование для элементов внутри */
  /* Убедитесь, что элементы внутри правильно позиционируются относительно родителя */
}

/* Стили для иконки переключения */
.toggle-icon {
  cursor: pointer; /* Указывает, что иконка кликабельна */
  transition: color 0.3s ease; /* Плавное изменение цвета */
}

/* Изменение цвета иконки при наведении */
.toggle-icon:hover {
  color: blue; /* Цвет при наведении */
}

/* Стили для иконок действия */
.icon {
  cursor: pointer; /* Указывает, что иконка кликабельна */
  margin-right: 10px; /* Отступ между иконками */
  transition: color 0.3s ease; /* Плавное изменение цвета */
}

/* Изменение цвета иконок при наведении */
.icon:hover {
  color: darkblue; /* Цвет при наведении */
}


