{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    ამანათის გაფორმება
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_add.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/confirmDate/confirmDate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- FontAwesome for icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>



    <div class="container my-5">
        <div class="card p-4 max-width-container">
                    <div class="header-section">
            <h2 class="text-center mb-0">დამატება</h2>
        </div>
        <div class="mb-3">
            <label class="form-label" for="record-select">მომხმარებელთა სია</label>
            <select class="form-select" id="record-select" name="record_key" style="width: 100%">
                <option value="">ამოირჩიეთ</option>
                {% for key in records %}
                    <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>

            <form method="post" action="/saving_a_parcel " enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label" for="sender">სახელი / გვარი</label>
                        <input type="text" class="form-control" id="sender" name="sender" data-error="sender">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="sender_phone">გამგზავნის ტელეფონი</label>
                        <input type="text" class="form-control" id="sender_phone" name="sender_phone" data-error="sender_phone" oninput="formatPhoneNumber(this)">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label" for="recipient">სახელი / გვარი</label>
                        <input type="text" class="form-control" id="recipient" name="recipient" data-error="recipient">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="recipient_phone">მიმღების ტელეფონი</label>
                        <input type="text" class="form-control" id="recipient_phone" name="recipient_phone" value="+7" data-error="recipient_phone" oninput="formatRecipientPhone(this)">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="inventory">აღწერა</label>
                    <textarea class="form-control" id="inventory" name="inventory" data-error="inventory" maxlength="200"></textarea>
                    <small id="charCount" class="form-text text-muted">დარჩა 200 სიმბოლო</small>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label" for="weight">წონა</label>
                        <input type="text" class="form-control" id="weight" name="weight" data-error="weight" >
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="responsibility">ღირებულება</label>
                        <input type="text" class="form-control" id="responsibility" name="responsibility" data-error="responsibility">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="passport">პასპორტი</label>
                        <input type="text" class="form-control" id="passport" name="passport" data-error="passport">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label" for="cost">ფასი</label>
                        <input type="text" class="form-control" id="cost" name="cost" data-error="cost" oninput="formatCost(this)">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="city-select">ქალაქი</label>
                        <select class="form-select" id="city-select" name="city">
                            <option value="Moscow">Moscow</option>
                            <option value="S.P.B">S.P.B</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="photo">ფოტო</label>
                        <input type="file" class="form-control" id="photo" name="photo" data-error="photo">
                    </div>
                </div>

                <div class="mb-3 custom-border rounded p-3">
                    <label class="form-label text-center d-block">გადახდის მეთოდი</label>
                    <div class="d-flex flex-wrap justify-content-center gap-3">
                        <div class="form-check custom-radio">
                            <input type="radio" class="form-check-input" id="cash" name="payment" value="paid" data-error="payment">
                            <label class="form-check-label d-flex align-items-center" for="cash">
                                <i class="fas fa-money-bill-wave me-2"></i> ნაღდი
                            </label>
                        </div>
                        <div class="form-check custom-radio">
                            <input type="radio" class="form-check-input" id="card" name="payment" value="card">
                            <label class="form-check-label d-flex align-items-center" for="card">
                                <i class="fas fa-credit-card me-2"></i> ბარათი
                            </label>
                        </div>
                        <div class="form-check custom-radio">
                            <input type="radio" class="form-check-input" id="other" name="payment" value="not_paid">
                            <label class="form-check-label d-flex align-items-center" for="other">
                                <i class="fas fa-ban me-2"></i> გადასახდელი
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="mb-3 custom-border rounded p-3">
                    <label class="form-label text-center d-block">ვალუტა</label>
                    <div class="d-flex justify-content-center flex-wrap gap-3">
                        <div class="form-check custom-radio">
                            <input type="radio" class="form-check-input" id="gel" name="payment_currency" value="GEL" data-error="payment_currency">
                            <label class="form-check-label" for="gel">₾ GEL</label>
                        </div>
                        <div class="form-check custom-radio">
                            <input type="radio" class="form-check-input" id="rub" name="payment_currency" value="RUB">
                            <label class="form-check-label" for="rub">₽ RUB</label>
                        </div>
                        <div class="form-check custom-radio">
                            <input type="radio" class="form-check-input" id="eur" name="payment_currency" value="EUR">
                            <label class="form-check-label" for="eur">€ EUR</label>
                        </div>
                        <div class="form-check custom-radio">
                            <input type="radio" class="form-check-input" id="usd" name="payment_currency" value="USD">
                            <label class="form-check-label" for="usd">$ USD</label>
                        </div>
                        <div class="form-check custom-checkbox mb-3">
                            <input type="checkbox" class="form-check-input" id="departureStatus" name="departureStatus" value="value">
                            <label class="form-check-label" for="departureStatus"><i class=" icon fas fa-truck">&nbsp;&nbsp;გაგზავნა</i></label>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="currentDateTime" name="currentDateTime">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">დასრულება</button>
                </div>
            </form>
        </div>
    </div>



    

    {% for cat, msg in get_flashed_messages(True) %}
    <div class='flash {{cat}}'>{{msg}}</div>
    {% endfor %}

<script>
    $(document).ready(function() {
        $('#record-select').select2({
            placeholder: 'ამოირჩიეთ',
            allowClear: true
        });
        
        $('#record-select').on('change', function() {
            var selectedKey = $(this).val();
            var records = JSON.parse('{{ records | tojson | safe }}');
            
            if (selectedKey && records[selectedKey]) {
                var record = records[selectedKey];
                document.getElementById('sender').value = selectedKey;
                document.getElementById('sender_phone').value = record['sender phone'] || '';
                document.getElementById('recipient').value = record['recipient'] || '';
                document.getElementById('recipient_phone').value = record['recipient phone'] || '';
            } else {
                document.getElementById('sender').value = '';
                document.getElementById('sender_phone').value = '';
                document.getElementById('recipient').value = '';
                document.getElementById('recipient_phone').value = '';
            }
        });
    });
</script>

<script src="{{ url_for('static', filename='js/add/add_new_record.js') }}"></script>
<script src="{{ url_for('static', filename='js/add/sender_phone_format.js') }}"></script>
<script src="{{ url_for('static', filename='js/add/recipient_phone_format.js') }}"></script>
<script src="{{ url_for('static', filename='js/add/weight_format.js') }}"></script>
<script src="{{ url_for('static', filename='js/add/cost_format.js') }}"></script>
<script src="{{ url_for('static', filename='js/add/image_upload_format.js') }}"></script>
<script src="{{ url_for('static', filename='js/add/inventory_filter.js') }}"></script>




{% endblock %}





    

