{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    სია
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_all.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

<div class="download-container">
    <form id="download-form" method="POST" action="{{ url_for('download') }}">
        <select id="flight" name="flight" required>
            {% for flight in last_10_flights %}
            <option value="{{ flight }}">{{ flight }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn-download">გადმოწერა</button>
    </form>
</div>

<div class="modal" id="image-modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img id="modal-image" src="" alt="Image">
        <p id="modal-description"></p>
    </div>
</div>

<div class="bg-image"></div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th class="filnone"></th>
                <th>#<input type="text" id="filter-number" name="filter-number" placeholder=""></th>
                <th>გამგზავნი<input type="text" id="filter-sender" name="filter-sender" placeholder=""></th>
                <th>გამგ/ტელ<input type="text" id="filter-sender-phone" name="filter-sender-phone" placeholder=""></th>
                <th>მიმღები<input type="text" id="filter-recipient" name="filter-recipient" placeholder=""></th>
                <th>მიმღ/ტელ<input type="text" id="filter-recipient-phone" name="filter-recipient-phone" placeholder=""></th>
                <th>გადახდა<input type="text" id="filter-cost" name="filter-cost" placeholder=""></th>
                <th>პასპორტი<input type="text" id="filter-passport" name="filter-passport" placeholder=""></th>
                <th>წონა<input type="text" id="filter-weight" name="filter-weight" placeholder=""></th>
                <th>ღირებულება<input type="text" id="filter-responsibility" name="filter-responsibility" placeholder=""></th>
                <th>ქალაქი<input type="text" id="filter-city" name="filter-city" placeholder=""></th>
                <th>თარიღი<input type="text" id="filter-flight" name="filter-flight" placeholder=""></th>
                <th>გამგ/ქალაქი<input type="text" id="filter-where_from" name="filter-where_from" placeholder=""></th>
            </tr>
        </thead>
        <tbody>
            {% for data in all_data %}
            <tr class="table-row">
                <td class="description">
                    <img src="/static/images/edit.png" class="icon" onclick="window.location.href='/change?id={{ data.id }}'">
                    <img src="/static/images/photo.png" class="icon" onclick="openImageModal('{{ data.image }}', '{{ data.inventory }}')">
                </td>
                <td class="number">{{ data.number }}</td>
                <td>{{ data.sender }}</td>
                <td>{{ data.sender_phone }}</td>
                <td>{{ data.recipient }}</td>
                <td>{{ data.recipient_phone }}</td>
                <td {% if data.cost.startswith('-') %}style="color:#f24949;"{% elif data.cost.startswith('+') %}style="color:#00ff00;"{% else %}style="color:black;"{% endif %}>
                    {{ data.cost }}
                </td>
                <td>{{ data.passport }}</td>
                <td>{{ data.weight }}</td>
                <td>{{ data.responsibility }}</td>
                <td>{{ data.city }}</td>
                <td>{{ data.flight }}</td>
                <td>{{ data.where_from }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for cat, msg in get_flashed_messages(True) %}
<div class='flash {{cat}}'>{{msg}}</div>
{% endfor %}

<script>
    function openImageModal(imageUrl, description) {
    var modal = document.getElementById("image-modal");
    var modalImage = document.getElementById("modal-image");
    var modalDescription = document.getElementById("modal-description");

    modalImage.src = imageUrl;
    modalDescription.textContent = description;
    modal.style.display = "block";

    var closeBtn = document.getElementsByClassName("close")[0];
    closeBtn.onclick = function() {
        modal.style.display = "none";
    };

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        };
    }


    document.getElementById("download-form").addEventListener("submit", function(event) {
    event.preventDefault(); // Отмена отправки формы

    var form = event.target;
    var flight = form.elements.flight.value;


    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{{ url_for('download') }}", true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.responseType = "blob"; // Ожидаемый тип данных - blob (файл)

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                // Создание ссылки для скачивания файла
                var blob = new Blob([xhr.response], { type: "application/octet-stream" });
                var url = URL.createObjectURL(blob);
                var link = document.createElement("a");
                link.href = url;
                link.download = "data.xlsx";
                link.click();
                URL.revokeObjectURL(url); // Освобождение ресурсов
            } else {
                // Обработка ошибки
            }
        }
    };

    xhr.send("flight=" + encodeURIComponent(flight));
});

//-----     -----     -----     -----     -----     -----     -----     -----     -----     -----     -----     -----     -----


    // Получаем поля ввода для фильтрации
    var filterNumberInput = document.getElementById('filter-number');
    var filterSenderInput = document.getElementById('filter-sender');
    var filterSenderPhoneInput = document.getElementById('filter-sender-phone');
    var filterRecipientInput = document.getElementById('filter-recipient');
    var filterRecipientPhoneInput = document.getElementById('filter-recipient-phone');
    var filterCostInput = document.getElementById('filter-cost');
    var filterPassportInput = document.getElementById('filter-passport');
    var filterWeightInput = document.getElementById('filter-weight');
    var filterResponsibilityInput = document.getElementById('filter-responsibility');
    var filterCityInput = document.getElementById('filter-city');
    var filterFlightInput = document.getElementById('filter-flight');
    var filterWhereFromInput = document.getElementById('filter-where_from');

    // Обработчик события ввода в поля фильтров
    filterNumberInput.addEventListener('input', filterTable);
    filterSenderInput.addEventListener('input', filterTable);
    filterSenderPhoneInput.addEventListener('input', filterTable);
    filterRecipientInput.addEventListener('input', filterTable);
    filterRecipientPhoneInput.addEventListener('input', filterTable);
    filterCostInput.addEventListener('input', filterTable);
    filterPassportInput.addEventListener('input', filterTable);
    filterWeightInput.addEventListener('input', filterTable);
    filterResponsibilityInput.addEventListener('input', filterTable);
    filterCityInput.addEventListener('input', filterTable);
    filterFlightInput.addEventListener('input', filterTable);
    filterWhereFromInput.addEventListener('input', filterTable);

    function filterTable() {
        var filterNumberValue = filterNumberInput.value.toLowerCase();
        var filterSenderValue = filterSenderInput.value.toLowerCase();
        var filterSenderPhoneValue = filterSenderPhoneInput.value.toLowerCase();
        var filterRecipientValue = filterRecipientInput.value.toLowerCase();
        var filterRecipientPhoneValue = filterRecipientPhoneInput.value.toLowerCase();
        var filterCostValue = filterCostInput.value.toLowerCase();
        var filterPassportValue = filterPassportInput.value.toLowerCase();
        var filterWeightValue = filterWeightInput.value.toLowerCase();
        var filterResponsibilityValue = filterResponsibilityInput.value.toLowerCase();
        var filterCityValue = filterCityInput.value.toLowerCase();
        var filterFlightValue = filterFlightInput.value.toLowerCase();
        var filterWhereFromValue = filterWhereFromInput.value.toLowerCase();


        var tableRows = document.getElementsByClassName('table-row');

        for (var i = 0; i < tableRows.length; i++) {
            var row = tableRows[i];
            var numberCell = row.querySelector('.number');
            var senderCell = row.querySelectorAll('td')[2];
            var senderPhoneCell = row.querySelectorAll('td')[3];
            var recipientCell = row.querySelectorAll('td')[4];
            var recipientPhoneCell = row.querySelectorAll('td')[5];
            var costCell = row.querySelectorAll('td')[6];
            var passportCell = row.querySelectorAll('td')[7];
            var weightCell = row.querySelectorAll('td')[8];
            var responsibilityCell = row.querySelectorAll('td')[9];
            var cityCell = row.querySelectorAll('td')[10];
            var flightCell = row.querySelectorAll('td')[11];
            var whereFromCell = row.querySelectorAll('td')[12];

            var numberValue = numberCell.textContent.toLowerCase();
            var senderValue = senderCell.textContent.toLowerCase();
            var senderPhoneValue = senderPhoneCell.textContent.toLowerCase();
            var recipientValue = recipientCell.textContent.toLowerCase();
            var recipientPhoneValue = recipientPhoneCell.textContent.toLowerCase();
            var costValue = costCell.textContent.toLowerCase();
            var passportValue = passportCell.textContent.toLowerCase();
            var weightValue = weightCell.textContent.toLowerCase();
            var responsibilityValue = responsibilityCell.textContent.toLowerCase();
            var cityValue = cityCell.textContent.toLowerCase();
            var flightValue = flightCell.textContent.toLowerCase();
            var whereFromValue = whereFromCell.textContent.toLowerCase();

            if (numberValue.indexOf(filterNumberValue) > -1 &&
                senderValue.indexOf(filterSenderValue) > -1 &&
                senderPhoneValue.indexOf(filterSenderPhoneValue) > -1 &&
                recipientValue.indexOf(filterRecipientValue) > -1 &&
                recipientPhoneValue.indexOf(filterRecipientPhoneValue) > -1 &&
                costValue.indexOf(filterCostValue) > -1 &&
                passportValue.indexOf(filterPassportValue) > -1 &&
                weightValue.indexOf(filterWeightValue) > -1 &&
                responsibilityValue.indexOf(filterResponsibilityValue) > -1 &&
                cityValue.indexOf(filterCityValue) > -1 &&
                flightValue.indexOf(filterFlightValue) > -1 &&
                whereFromValue.indexOf(filterWhereFromValue) > -1) {
                row.style.display = ''; // Показываем строку, если соответствует фильтру
            } else {
                row.style.display = 'none'; // Скрываем строку, если не соответствует фильтру
            }
        }
    }
    </script>


{% endblock %}
    
