{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    ჩასწორება
{% endblock %}
{% block content %}
<div class="bg-image"></div>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_add.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>


        <form action="/change" method="post" class="add" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ edit.id }}">
            <div class="add_block">
                <div class="head">
                    <h2>რედაქტირება</h2>
                </div>

                <div class="flight_and_img">
                    <div class="photo_block">
                        <label>ფოტოს ატვირთვა</label>
                        <input type="file" id="photo" name="photo" class="fandm">
                    </div>
                </div>
           
        
        
            
                <div class="sender_block">
                    <div class="sender_name_block">
                        <label class="input-label">გამზავნი</label>
                        <input type="text" name="sender" required class="sender" value="{{ edit.sender }}">
                    </div>
                    <div class="sender_phone_block">
                        <label class="input-label">გამგზავნის ტელ</label>
                        <input type="text" name="sender_phone" required class="sender" value="{{ edit.sender_phone }}">
                    </div>
                </div>

                <div class="recipient_block">
                    <div class="recipient_name_block">
                        <label>მიმღები</label>
                        <input type="text" name="recipient" required class="recipient" value="{{ edit.recipient }}">
                    </div>
                    <div class="recipient_phone block">
                        <label>მიმღების ტელ</label>
                        <input type="text" name="recipient_phone" required class="recipient" value="{{ edit.recipient_phone }}">
                    </div>
                </div>
                
                <div class="description_block">
                    <div class="description">
                        <label>აღწერა</label>
                        <textarea name="inventory"  data-error="inventory"></textarea>
                    </div>
                </div>

        
                <div class="information_one_block">
                    <div class="weight_block">
                        <label>წონა</label>
                        <input type="text" name="weight" required class="information" value="{{ edit.weight }}">
                    </div>
                    <div class="responsibility_block">
                        <label>ღირებულება</label>
                        <input type="text" name="responsibility" required class="information" value="{{ edit.responsibility }}">
                    </div>
                    <div class="passport_block">
                        <label>პასპორტი</label>
                        <input type="text" name="passport" required class="information" value="{{ edit.passport }}">
                    </div>
                </div>

                <div class="information_two_block">
                    <div class="number">
                        <label>ნომერი</label>
                        <input type="text" name="number" required class="information_2" value="{{ edit.number }}">
                    </div>
                    <div class="price">
                        <label>ფასი</label>
                        <input type="text" name="cost" required class="information_2" value="{{ edit.cost }}">
                    </div>
                    <div class="city">
                        <label>ქალაქი</label>
                        <select id="city-select" name="city" class="information_2">
                            <option value="Moscow" {% if edit.city == "Moscow" %}selected{% endif %}>Moscow</option>
                            <option value="S.P.B" {% if edit.city == "S.P.B" %}selected{% endif %}>S.P.B</option>
                        </select>
                    </div>
                </div>
        
              
                <div class="button_block">
                    <input type="submit" value="დასრულება">
                </div>
            </div>
        </form>
        

    {% for cat, msg in get_flashed_messages(True) %}
<div class='flash {{cat}}'>{{msg}}</div>
{% endfor %}


{% endblock %}




