{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    ჩათი
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_chat.css') }}">
<div id="chat-window">
    <div id="chat-messages">
        {% for message in messages %}
        <div class="message-container">
            <div class="message_info">
                <div class="message-user">{{ message.user_id }}</div>
                <div class="message-time">{{ message.timestamp }}</div>
            </div>
            <div class="message">{{ message.content }}</div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="chat-container">
    <div class="buttons-block">
        <img src="/static/images/load-photo.png" alt="ფოტო" id="LoadPhoto">
    </div>
    <textarea id="chat" placeholder="ჩაწერეთ ტექსტი  .  .  .  ."></textarea>
    <div class="send_button">
        <img src="/static/images/send.png" alt="გაგზავნა" id="SendMessage">
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var chatMessages = document.getElementById('chat-messages');
    var chatInput = document.getElementById('chat');
    var sendMessageButton = document.getElementById('SendMessage');
    var socket;

    function createWebSocket() {
        // Здесь устанавливаем WebSocket-соединение
        var uri = 'https://' + document.domain + ':' + location.port;
        socket = io.connect(uri);

        socket.onopen = function(event) {
            // Соединение успешно установлено
            console.log('WebSocket connection opened');
        };

        socket.onmessage = function(event) {
            // Обработка входящих сообщений
            console.log('Received message:', event.data);
            appendMessage(JSON.parse(event.data)); // Парсинг JSON-сообщения
        };

        socket.onerror = function(error) {
            // Обработка ошибок
            console.error('WebSocket error:', error);
            // Попытка повторного создания WebSocket-соединения через 2 секунды
            setTimeout(createWebSocket, 2000);
        };

        socket.onclose = function(event) {
            // Соединение закрыто
            console.log('WebSocket connection closed');
            // Попытка повторного создания WebSocket-соединения через 2 секунды
            setTimeout(createWebSocket, 2000);
        };
    }

    createWebSocket(); // Первоначальная попытка создания WebSocket-соединения

    function appendMessage(message) {
        var messageContainer = document.createElement('div');
        messageContainer.className = 'message-container';

        var messageInfo = document.createElement('div');
        messageInfo.className = 'message_info';

        var userElement = document.createElement('div');
        userElement.className = 'message-user';
        userElement.textContent = message.user_id;

        var messageElement = document.createElement('div');
        messageElement.className = 'message';
        messageElement.textContent = message.content;

        var timeElement = document.createElement('div');
        timeElement.className = 'message-time';
        timeElement.textContent = message.timestamp;

        messageInfo.appendChild(userElement);
        messageInfo.appendChild(timeElement);

        messageContainer.appendChild(messageInfo);
        messageContainer.appendChild(messageElement);

        chatMessages.appendChild(messageContainer);
        window.scrollTo(0, document.body.scrollHeight);
    }

    function sendMessage() {
        var message = chatInput.value.trim(); // Удалить начальные и конечные пробелы

        if (message !== '') {
            socket.emit('new_message', { message: message });
            chatInput.value = '';  // Очистка текстового поля
        }
    }

    sendMessageButton.addEventListener('click', function() {
        sendMessage();
    });
    
    chatInput.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            sendMessage();
        }
    });

    // Обработка события "новое сообщение"
    socket.on('new_message', function(data) {
        appendMessage(data);
    });

    // Загрузка начальных сообщений
    function loadMessages() {
        // Здесь можно использовать AJAX-запрос для загрузки начальных сообщений
        // и отобразить их на странице.
        // ...
    }

    // Вызов функции загрузки сообщений при загрузке страницы
    loadMessages();

    // Функция для установки прокрутки вниз
    function scrollToBottom() {
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }
});
</script>
{% endblock %}
