{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    საბუთები
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_document.css') }}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

<body>

    <div class="container mt-5">
        <!-- Кнопка для открытия модального окна -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requestModal">
            განაცხადი
        </button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transportingInvoiceModal">
            ტრანსპორტირების ინვოისი
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#excelModal">
            წონების კონტროლი
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#phoneModal">
            ტელეფონების ფილტრი
        </button>
    </div>








    <div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">განაცხადი</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{{ url_for('create_docxrequest') }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="ka_f-l_name" class="form-label">სახელი / გვარი (ქართულად)</label>
                            <input type="text" class="form-control" id="ka_f-l_name" name="ka_f-l_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="ge_f-l_name" class="form-label">სახელი / გვარი (ინგლისურად)</label>
                            <input type="text" class="form-control" id="ge_f-l_name" name="ge_f-l_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="id" class="form-label">პირადი ნომერი</label>
                            <input type="number" class="form-control" id="id" name="id" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">ტელეფონის ნომერი</label>
                            <input type="number" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="tracking" class="form-label">თრეკინგი</label>
                            <input type="text" class="form-control" id="tracking" name="tracking" required pattern="\d.*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">შექმნა</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="modal fade" id="transportingInvoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ტრანსპორტირების ინვოისი</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('create_transporting_invoice') }}" method="post">
                        <div class="mb-3">
                            <label for="date" class="form-label">თარიღი</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="mb-3">
                            <label for="payer" class="form-label">გადამხდელი</label>
                            <input type="text" class="form-control" id="payer" name="payer" required>
                        </div>
                        <div class="mb-3">
                            <label for="code" class="form-label">პირადი ID / კოდი</label>
                            <input type="number" class="form-control" id="code" name="code" required>
                        </div>
                        <div class="mb-3">
                            <label for="tracking" class="form-label">თრექინგი</label>
                            <input type="number" class="form-control" id="tracking" name="tracking" required>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">წონა</label>
                            <input type="number" step="0.01" class="form-control" id="quantity" name="quantity" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">ფასი კილოზე</label>
                            <input type="number" step="0.01" class="form-control" id="price" name="price" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="broker_service" name="broker_service">
                            <label class="form-check-label" for="broker_service">საბროკერო მომსახურეობა</label>
                        </div>
                        <button type="submit" class="btn btn-primary">შექმნა</button>
                    </form>
                </div>
            </div>
        </div>
    </div>








    <div class="modal fade" id="excelModal" tabindex="-1" aria-labelledby="excelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="excelModalLabel">წონების კონტროლი</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Форма для ввода данных -->
                    <form id="manifestForm">
                        <div class="form-group">
                            <label for="receiver_first_name_col">ჩაწერეთ სახელები:</label>
                            <textarea class="form-control" id="receiver_first_name_col" name="receiver_first_name_col" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="receiver_last_name_col">ჩაწერეთ გვარები:</label>
                            <textarea class="form-control" id="receiver_last_name_col" name="receiver_last_name_col" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="weight_col">წონები:</label>
                            <textarea class="form-control" id="weight_col" name="weight_col" rows="2" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">შემოწმება</button>
                    </form>
    
                    <!-- Здесь будет отображаться результат -->
                    <div id="result" style="display:none; margin-top: 20px;">
                        <h5>შედეგი:</h5>
                        <ul id="resultList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Модальное окно -->
    <div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="phoneModalLabel">ტელეფონის ფილტრი</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="phoneForm">
                        <div class="mb-3">
                            <label for="phone_numbers" class="form-label">ჩაწერეთ ტელეფონის ნომრები (თითო ხაზზე ერთი ნომერი!):</label>
                            <textarea class="form-control" id="phone_numbers" name="phone_numbers" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">შემოწმება</button>
                    </form>

                    <div id="results">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">დახურვა</button>
                </div>
            </div>
        </div>
    </div>



    <script>
        // Открыть модальное окно
        function openModal() {
            var myModal = new bootstrap.Modal(document.getElementById('phoneModal'), {
                keyboard: false
            });
        }

        // Обработка формы с помощью AJAX
        document.getElementById('phoneForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var formData = new FormData(this);
            fetch('/phone_number_checker', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var resultsDiv = document.getElementById('results');
                resultsDiv.innerHTML = '';

                if (data.valid_numbers.length > 0) {
                    resultsDiv.innerHTML += '<h5>კორექტული ნომრები:</h5><ul class="list-group">';
                    data.valid_numbers.forEach(number => {
                        resultsDiv.innerHTML += '<li class="list-group-item">' + number + '</li>';
                    });
                    resultsDiv.innerHTML += '</ul>';
                }

                if (data.invalid_numbers.length > 0) {
                    resultsDiv.innerHTML += '<h5 class="text-danger">არასწორი ნომრები:</h5><ul class="list-group">';
                    data.invalid_numbers.forEach(number => {
                        resultsDiv.innerHTML += '<li class="list-group-item">' + number + '</li>';
                    });
                    resultsDiv.innerHTML += '</ul>';
                }
            })
            .catch(error => console.error('Error:', error));
        });

        // Открываем модальное окно при загрузке страницы для тестирования
        window.onload = openModal;
    </script>



<script>
    document.getElementById('manifestForm').addEventListener('submit', function (e) {
        e.preventDefault(); // Отменяем стандартную отправку формы

        var formData = new FormData(this); // Получаем данные формы

        // Отправляем запрос через AJAX
        fetch('/manifest_checker', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                // Очищаем предыдущие результаты
                var resultList = document.getElementById('resultList');
                resultList.innerHTML = '';

                // Показываем только записи с весом 29.95 или больше
                var filteredData = Object.entries(data.data).filter(([key, value]) => value >= 29.95);

                if (filteredData.length > 0) {
                    filteredData.forEach(([key, value]) => {
                        var li = document.createElement('li');
                        li.textContent = `${key}: ${value} კგ`;
                        resultList.appendChild(li);
                    });
                } else {
                    var li = document.createElement('li');
                    li.textContent = 'არ არის ჩანაწერები წონით 29.95 კგ ან მეტი.';
                    resultList.appendChild(li);
                }

                // Показываем блок с результатами
                document.getElementById('result').style.display = 'block';
            } else {
                alert('Ошибка: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>


{% endblock %}