{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    საბუთები
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_document.css') }}">


<body>

    <div class="container mt-5">
        <!-- Кнопка для открытия модального окна -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requestModal">
            განაცხადი
        </button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transportingInvoiceModal">
            ტრანსპორტირების ინვოისი
        </button>
    </div>








    <div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">ტგანაცხადი</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{{ url_for('create_docxrequest') }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="ka_f-l_name" class="form-label">სახელი (ქართულად)</label>
                            <input type="text" class="form-control" id="ka_f-l_name" name="ka_f-l_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="ge_f-l_name" class="form-label">სახელი (ინგლისურად)</label>
                            <input type="text" class="form-control" id="ge_f-l_name" name="ge_f-l_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="id" class="form-label">პირადი ნომერი</label>
                            <input type="number" class="form-control" id="id" name="id" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">ტელეფონის ნომერი</label>
                            <input type="number" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="tracking" class="form-label">ტრეკინგ ნომერი</label>
                            <input type="text" class="form-control" id="tracking" name="tracking" required pattern="\d.*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">შექმნა</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="modal fade" id="transportingInvoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ტრანსპორტირების ინვოისი</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('create_transporting_invoice') }}" method="post">
                        <div class="mb-3">
                            <label for="date" class="form-label">Дата</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="mb-3">
                            <label for="payer" class="form-label">Плательщик</label>
                            <input type="text" class="form-control" id="payer" name="payer" required>
                        </div>
                        <div class="mb-3">
                            <label for="code" class="form-label">Код</label>
                            <input type="number" class="form-control" id="code" name="code" required>
                        </div>
                        <div class="mb-3">
                            <label for="tracking" class="form-label">Треккинг</label>
                            <input type="number" class="form-control" id="tracking" name="tracking" required>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Количество</label>
                            <input type="number" step="0.1" class="form-control" id="quantity" name="quantity" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Цена</label>
                            <input type="number" step="0.01" class="form-control" id="price" name="price" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="broker_service" name="broker_service">
                            <label class="form-check-label" for="broker_service">Услуги брокера</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

</body>









{% endblock %}