{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    ექსპერტიზა
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_expertise.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- jQuery UI Core -->
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!-- jQuery UI CSS -->
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS и его зависимости (moment.js для поддержки формата даты) -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/confirmDate/confirmDate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="https://cdn.rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

<!-- Код HTML для кнопки, видео и поля ввода -->
<button id="scanButton">Сканировать штрих-код</button>
<video id="video" style="width: 100%; height: auto;"></video>
<input type="text" id="resultInput" placeholder="Результат сканирования" readonly>

<div class="buttons">
    <div class="buttons_set">
        <input type="text" class="select_date">
    </div>
</div>

<div class="sheet1">
    <div class="trecing_check_block">
        <input type="text" placeholder="trecing" id="trecing_checker"></input>
        <button onclick="checkTrecing()">შემოწმება</button>
    </div>

    <div class="ss">
        <div class="xml_block">
            <input type="file" id="xmlFile" accept=".xml" required>
            <button onclick="uploadFile()">განახლება</button>
        </div>
    </div>
</div>
<div class="add_form">
    <div class="form-group">
        <label for="Number">ამანათის ნომერი</label>
        <input type="text" class="form-control" id="Number" placeholder="Number">
    </div>
    <div class="form-group">
        <label for="tracking">თრექინგი</label>
        <input type="text" class="form-control" id="tracking" placeholder="Tracking">
    </div>
    <div class="form-group">
        <label for="comment">კოპმენტარი</label>
        <input class="form-control" id="comment" placeholder="Comment" rows="3"></input>
    </div>
    <div class="form-group">
        <label for="date">თარიღი</label>
        <input type="date" class="form-control" id="date" value="{{ date }}" readonly>
    </div>
    

    <!-- Кнопка для добавления записи -->
    <div class="form-group">
        <label></label>
        <button type="button" class="btn btn-primary" id="addRecordBtn">დამატება</button>
    </div>
</div>



<div class="table_block">
    <h1>საექსპერტო სიის ჩანაწერები</h1>

    {% if records %}
        <table border="1" id="recordsTable" class="table_headers">
            <tr>
                <th>ID</th>
                <th>სტატუსი</th>
                <th>მიმღები</th>
                <th>წონა</th>
                <th>ნომერი</th>
                <th>თრექინგი</th>
                <th>კომენტარი</th>
                <th>თარიღი</th>
                <th>მოქმედება</th>
            </tr>
            {% for record in records %}
                <tr id="row-{{ record.id }}" class="table_values">
                    <td>{{ record.id }}</td>
                    <td class="status_color {{ record.status }}">{{ record.status }}</td>
                    <td>{{ record.recipient }}</td>
                    <td>{{ record.weight }}</td>
                    <td>{{ record.Number }}</td>
                    <td>{{ record.tracking }}</td>
                    <td>{{ record.comment }}</td>
                    <td>{{ record.date }}</td>
                    <td><button class="deleteBtn" data-record-id="{{ record.id }}">წაშლა</button></td>
                </tr>
            {% endfor %}
        </table>
        
    {% else %}
    <table border="1" id="recordsTable" class="table_headers">
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Recipient</th>
            <th>Weight</th>
            <th>Number</th>
            <th>Tracking</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </table>
    {% endif %}
</div>









<!-- добавление новой записи -->
<script>
    $("#addRecordBtn").click(function() {
        // Получаем данные из полей ввода
        var Number = $("#Number").val();
        var tracking = $("#tracking").val();
        var comment = $("#comment").val();
        var date = $("#date").val();

        // Создаем объект данных для отправки на сервер
        var data = {
            Number: Number,
            tracking: tracking,
            comment: comment,
            date: date
        };

        // Отправляем данные на сервер с использованием AJAX
        $.ajax({
        type: "POST",
        url: "/expertise_add_record",
        contentType: "application/json;charset=UTF-8",
        data: JSON.stringify(data),
        success: function(records) {
            // Выводим сообщение об успешном добавлении записей
            showMessage('ამანათი წარმატებით დაემატა', true);


            // Создаем строки для каждой записи
            records.forEach(function(response) {
                // Создаем уникальный ID для строки
                var rowId = 'row-' + response.id;

                // Определение класса цвета в зависимости от значения статуса
                var statusColorClass = '';
                if (response.status === 'დაუბეგრავი') {
                    statusColorClass = 'დაუბეგრავი';
                } else if (response.status === 'დაბეგვრადი') {
                    statusColorClass = 'დაბეგვრადი';
                } else if (response.status === 'გაურკვეველი') {
                    statusColorClass = 'გაურკვეველი';
                }

                // Создание строки таблицы с добавлением класса цвета
                var newRow = '<tr id="' + rowId + '" class="table_values">' +
                    '<td>' + response.id + '</td>' +
                    '<td class="status_color ' + statusColorClass + '">' + response.status + '</td>' +
                    '<td>' + response.recipient + '</td>' +
                    '<td>' + response.weight + '</td>' +
                    '<td>' + response.Number + '</td>' +
                    '<td>' + response.tracking + '</td>' +
                    '<td>' + response.comment + '</td>' +
                    '<td>' + response.date + '</td>' +
                    '<td><button class="deleteBtn" data-record-id="' + response.id + '">წაშლა</button></td>' +
                    '</tr>';
                // Добавляем новую запись к таблице
                $("#recordsTable").append(newRow);
            });
        },
        error: function(error) {
            // Выводим сообщение об ошибке
            showMessage('ამანათი ვერ დამუშავდა!', false);
            console.log(error);
        }
    });

    });
</script>



<!-- удаление записи -->
<script>
    $(document).ready(function() {
        // Добавляем обработчик событий для кнопок удаления
        $("#recordsTable").on("click", ".deleteBtn", function() {
            // Получаем ID записи из атрибута data-record-id
            var recordId = $(this).data("record-id");

            // Отправляем запрос на удаление с использованием AJAX
            $.ajax({
                type: "POST",
                url: "/expertise_deleted",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({ id: recordId }),
                success: function(response) {
                    // Удаляем строку из таблицы без перезагрузки страницы
                    $("#row-" + recordId).remove();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>



<!-- загрузка xml файла -->
<script>
    // Добавление функции uploadFile
    function uploadFile() {
        var input = document.getElementById('xmlFile');
        var file = input.files[0];
        var dateValue = document.getElementById('date').value; // Получение значения даты

        var formData = new FormData();
        formData.append('xmlFile', file);
        formData.append('date', dateValue); // Добавление значения даты в formData

        $.ajax({
            url: "{{ url_for('rs_xml') }}",
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                // Обработка успешного ответа от сервера
                showMessage(response.message, response.success);

                // Очистка поля с файлом
                input.value = '';

                // Перезагрузка страницы после успешного выполнения
                if (response.success) {
                    window.location.reload();
                }
            },
            error: function(error) {
                // Обработка ошибки
                showMessage('Error communicating with the server', false);
            }
        });
    }
</script>

<!-- выбор даты -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr(".select_date", {
            dateFormat: "Y-m-d",
            locale: "ru",
            confirmDate: true,
            onChange: function(selectedDates, dateStr, instance) {
                window.location.href = "/expertise?selected_date=" + dateStr;
            }
        });
    });
</script>




<!-- проваерка статуса посылки -->
<script>
    function checkTrecing() {
        var trecingInput = document.getElementById('trecing_checker');
        var trecingValue = trecingInput.value;

        // Проверяем, что поле ввода не пустое
        if (trecingValue.trim() === '') {
            return;
        }

        // Используем fetch для отправки данных на сервер
        fetch('/trecing_checker', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'trecing_value=' + encodeURIComponent(trecingValue),
        })
        .then(response => response.json())
        .then(data => {
            // Выводим результат в SweetAlert2
            Swal.fire({
                text: data.result,
                icon: getIconByResult(data.result),
                timer: 2000, // 2 секунды
                showConfirmButton: true, // Показываем кнопку
                confirmButtonText: 'OK', // Текст кнопки
                confirmButtonColor: getButtonColor(data.result), // Цвет кнопки
                position: isMobile() ? 'top-start' : 'center', // Позиция в зависимости от устройства
                toast: isMobile(), // Используем в режиме toast для мобильных устройств
                customClass: {
                    container: 'mobile-toast-container', // Добавляем класс для стилизации
                    popup: 'mobile-toast-popup' // Добавляем класс для стилизации
                }
            });

            // Очищаем поле ввода
            trecingInput.value = '';
            
            // Возвращаем фокус на поле ввода
            trecingInput.focus();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // Функция для обработки события нажатия клавиши Enter
    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            checkTrecing();
        }
    }

    // Привязываем функцию handleKeyPress к событию нажатия клавиши
    document.getElementById('trecing_checker').addEventListener('keypress', handleKeyPress);

    // Функция для определения цвета иконки в зависимости от результата
    function getIconByResult(result) {
        switch (result) {
            case 'დაუბეგრავი!':
            case 'დაბეგვრადი დასრულებული!':
                return 'success'; // Зелёная иконка
            case 'დაბეგვრადი! არ არის მზად!':
                return 'error'; // Красная иконка
            case 'ყვითელი!':
                return 'warning'; // Жёлтая иконка
            default:
                return 'info'; // Синяя иконка
        }
    }

    // Функция для определения цвета кнопки в зависимости от результата
    function getButtonColor(result) {
        switch (result) {
            case 'დაუბეგრავი!':
            case 'დაბეგვრადი დასრულებული!':
                return '#5cb85c'; // Зелёная кнопка
            case 'დაბეგვრადი! არ არის მზად!':
                return '#d9534f'; // Красная кнопка
            case 'ყვითელი!':
                return '#f0ad4e'; // Жёлтая кнопка
            default:
                return '#5bc0de'; // Синяя кнопка
        }
    }

    // Функция для определения, является ли устройство мобильным
    function isMobile() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    }
</script>



<script>
    document.getElementById('scanButton').addEventListener('click', async function() {
        const video = document.getElementById('video');
        const resultInput = document.getElementById('resultInput');
        const cameras = await Instascan.Camera.getCameras();

        if (cameras.length === 0) {
            alert('Нет доступных камер.');
            return;
        }

        // Добавим выпадающий список для выбора камеры
        const cameraSelect = document.createElement('select');
        cameraSelect.id = 'cameraSelect';

        // Добавим опции для каждой камеры
        cameras.forEach(function(camera, index) {
            const option = document.createElement('option');
            option.value = index;
            option.text = camera.name || `Камера ${index + 1}`;
            cameraSelect.add(option);
        });

        // Всплывающее окно для выбора камеры
        const selectedCameraIndex = prompt('Выберите камеру (введите номер):', '0');

        if (selectedCameraIndex === null) {
            // Пользователь отменил выбор камеры
            return;
        }

        const selectedCamera = cameras[selectedCameraIndex];

        // Инициализация библиотеки Instascan
        const scanner = new Instascan.Scanner({ video: video, mirror: false });

        // Обработчик для события сканирования
        scanner.addListener('scan', function(content) {
            alert('Штрих-код распознан: ' + content);

            // Установка результата сканирования в поле ввода
            resultInput.value = content;

            // Ваш код обработки результата штрих-кода
        });

        // Обработчик для события ошибки
        scanner.addListener('error', function(err) {
            alert('Ошибка сканирования: ' + err);

            // Остановить сканер в случае ошибки
            scanner.stop();
        });

        // Запуск сканирования для выбранной камеры
        scanner.start(selectedCamera);
    });
</script>
{% endblock %}