{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    ექსპერტიზა
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_expertise.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- jQuery UI Core -->
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!-- jQuery UI CSS -->
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS и его зависимости (moment.js для поддержки формата даты) -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/confirmDate/confirmDate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




<div class="container mt-5 bg-white">
    <!-- Блок выбора даты -->
    <div class="date_block mb-4">
        <div class="d-flex align-items-center">
            <!-- Поле выбора даты -->
            <div class="buttons_set me-3">
                <input type="text" class="form-control select_date" placeholder="აირჩიეთ თარიღი">
            </div>
            
            <!-- Иконка с выпадающим списком -->
            <button class="btn btn-outline-secondary" id="toggleDateList">
                <i class="bi bi-calendar3"></i> <!-- Иконка календаря -->
            </button>
        </div>
    
        <!-- Блок с плавным раскрытием -->
        <div class="selected_date_block mt-3" id="dateList">
            <ul class="list-group">
                {% for record in unique_dates_list %}
                    <li class="list-group-item">
                        <a href="{{ url_for('expertise', selected_date=record) }}">{{ record }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <!-- Блок проверки трекинга и загрузки XML -->
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="trecing_check_block input-group">
                <input type="text" class="form-control" placeholder="თრექინგის შემოწმება" id="trecing_checker">
                <button class="btn btn-outline-primary" onclick="checkTrecing()">შემოწმება</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="file" class="form-control" id="xmlFile" accept=".xml" required>
                <button class="btn btn-outline-success" id="uploadButton" onclick="uploadFile()">განახლება</button>
            </div>
        </div>
    </div>


    <!-- Форма добавления записи -->
    <div class="add_form mb-5 border p-4 rounded shadow-sm">
        <div class="form-group mb-3">
            <label for="Number">ამანათის ნომერი</label>
            <input type="text" class="form-control" id="Number" placeholder="Number">
        </div>
        <div class="form-group mb-3">
            <label for="tracking">თრექინგი</label>
            <input type="text" class="form-control" id="tracking" placeholder="Tracking">
        </div>
        <div class="form-group mb-3">
            <label for="comment">კომენტარი</label>
            <textarea class="form-control" id="comment" placeholder="Comment" rows="3"></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="date">თარიღი</label>
            <input type="date" class="form-control" id="date" value="{{ date }}" readonly>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary w-100" id="addRecordBtn">დამატება</button>
        </div>
    </div>

    <!-- Таблица записей -->
    <div class="table-responsive">
        <h1 class="text-center mb-4">საექსპერტო სიის ჩანაწერები</h1>
        <table class="table table-bordered table-hover table-striped" id="recordsTable">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>სტატუსი</th>
                    <th>მიმღები</th>
                    <th>წონა</th>
                    <th>ნომერი</th>
                    <th>თრექინგი</th>
                    <th>კომენტარი</th>
                    <th>თარიღი</th>
                    <th>მოქმედება</th>
                </tr>
            </thead>
            <tbody>
                {% if records %}
                    {% for record in records %}
                        <tr id="row-{{ record.id }}">
                            <td class="status_color {{ record.status }}">{{ record.id }}</td>
                            <td>{{ record.status }}</td>
                            <td>{{ record.recipient }}</td>
                            <td>{{ record.weight }}</td>
                            <td>{{ record.Number }}</td>
                            <td>{{ record.tracking }}</td>
                            <td>{{ record.comment }}</td>
                            <td>{{ record.date }}</td>
                            <td>
                                <button class="btn btn-danger btn-sm deleteBtn" data-record-id="{{ record.id }}">წაშლა</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9" class="text-center">No records available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Кнопка для экспорта -->
    <div class="text-center">
        <button class="btn btn-success" id="downloadExcel">ექსპორტი</button>
    </div>
</div>


<script src="{{ url_for('static', filename='js/expertise/add_new_record.js') }}"></script>
<script src="{{ url_for('static', filename='js/expertise/remove_record.js') }}"></script>
<script src="{{ url_for('static', filename='js/expertise/xml_load.js') }}"></script>
<script src="{{ url_for('static', filename='js/expertise/date_select.js') }}"></script>
<script src="{{ url_for('static', filename='js/expertise/status_check.js') }}"></script>
<script src="{{ url_for('static', filename='js/expertise/date_list.js') }}"></script>
<script src="{{ url_for('static', filename='js/expertise/download.js') }}"></script>

{% endblock %}
