<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title data-i18n="form_title">Оформление посылки</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_form.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <div class="form-container">
    
    <h2 class="form-title text-center mb-4" style="color: #3c4a6e;" data-i18n="form.title">Оформление посылки</h2>

    <!-- Сообщения -->
    <div id="message-area">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="container mt-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>



    <form id="parcel-form" enctype="multipart/form-data" class="p-4 shadow-lg rounded-lg bg-light">
      <input type="hidden" name="token" value="{{ token }}">
    
      <!-- Отправитель -->
      <div class="card mb-4">
        <div class="card-header bg-primary text-white" data-i18n="sender_info">Информация об отправителе</div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-6">

              <label class="form-label" data-i18n="sender_first_name_label">
                Имя
                <i 
                    class="bi bi-question-circle-fill text-muted" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="right" 
                    title="Введите имя точно так, как указано в вашем паспорте. Несоответствие может привести к проблемам с доставкой.">
                </i>
              </label>

              <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-person"></i></span>

                <input 
                  type="text" 
                  name="sender_first_name" 
                  class="form-control" 
                  maxlength="50" 
                  required 
                  data-i18n-placeholder="sender_first_name_placeholder" 
                  placeholder="Введите имя" 
                  id="sender_first_name"
                  autocomplete="off"
                />

              </div>
            </div>
            <div class="col-md-6">

              <label class="form-label" data-i18n="sender_last_name_label">
                Фамилия
                <i 
                  class="bi bi-question-circle-fill text-muted" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="right" 
                  title="Введите фамилию точно так, как указано в вашем паспорте. Несоответствие может привести к проблемам с доставкой.">
                </i>
              </label>
              <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-person-vcard"></i></span>

                <input type="text" 
                  name="sender_last_name" 
                  class="form-control" 
                  maxlength="50"
                  required
                  data-i18n-placeholder="sender_last_name_placeholder" 
                  placeholder="Введите фамилию"
                  id="sender_last_name"
                  autocomplete="off"
                />

              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">

              <label class="form-label" data-i18n="sender_phone_label">
                Телефон
                <i 
                  class="bi bi-question-circle-fill text-muted" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="right" 
                  title="Укажите ваш актуальный номер телефона — он потребуется для связи при возникновении непредвиденных ситуаций.">
                </i>
              </label>

              <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-telephone"></i></span>

                <input 
                  type="tel" 
                  name="sender_phone" 
                  class="form-control" 
                  required 
                  data-i18n-placeholder="sender_phone_placeholder"
                  id="sender_phone"
                  placeholder="+7..."
                />

              </div>
            </div>
            <div class="col-md-6">

              <label class="form-label" data-i18n="sender_passport_label">
                Паспорт
                <i 
                  class="bi bi-question-circle-fill text-muted" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="right" 
                  title="Пожалуйста, укажите номер внутреннего паспорта Российской Федерации (для граждан РФ) или номер заграничного паспорта (для иностранных граждан).">
                </i>
              </label>

              <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-card-heading"></i></span>

                <input 
                  type="text" 
                  name="sender_passport" 
                  class="form-control" 
                  required 
                  data-i18n-placeholder="sender_passport_placeholder"
                  id="sender_passport"
                  placeholder="ID или номер паспорта"
                />

              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Получатель -->
      <div class="card mb-4">
        <div class="card-header bg-success text-white" data-i18n="recipient_info">Информация о получателе</div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-6">

              <label class="form-label" data-i18n="recipient_first_name_label">
                Имя
                <i 
                    class="bi bi-question-circle-fill text-muted" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="right" 
                    title="Укажите имя получателя точно в соответствии с его удостоверением личности. Несоответствие может привести к задержке или невозможности получения посылки на территории Грузии.">
                </i>
              </label>

              <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-person"></i></span>

                <input 
                  type="text" 
                  name="recipient_first_name" 
                  class="form-control" 
                  required 
                  data-i18n-placeholder="recipient_first_name_placeholder" 
                  id="recipient_first_name"
                  placeholder="Введите имя"
                />

              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" data-i18n="recipient_last_name_label">
                Фамилия
                <i 
                    class="bi bi-question-circle-fill text-muted" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="right" 
                    title="Укажите фамилию получателя точно в соответствии с его удостоверением личности. Несоответствие может привести к задержке или невозможности получения посылки на территории Грузии.">
                </i>
              </label>
              <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-person-vcard"></i></span>

                <input 
                  type="text" 
                  name="recipient_last_name" 
                  class="form-control" 
                  required 
                  data-i18n-placeholder="recipient_last_name_placeholder"
                  id="recipient_last_name"
                  placeholder="Введите фамилию"
                />

              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">

              <label class="form-label" data-i18n="recipient_phone_label">
                Телефон
                <i 
                    class="bi bi-question-circle-fill text-muted" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="right" 
                    title="Укажите действительный номер телефона получателя. В случае ошибки он не получит уведомление о прибытии посылки и её готовности к выдаче.">
                </i>

              </label>

              <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-telephone"></i></span>

                <input 
                  type="tel" 
                  name="recipient_phone" 
                  class="form-control" 
                  required 
                  data-i18n-placeholder="recipient_phone_placeholder" 
                  id="recipient_phone"
                  placeholder="+995..."
                />

              </div>
            </div>
            <div class="col-md-6">

              <label class="form-label" data-i18n="recipient_passport_label">
                Паспорт
                <i 
                    class="bi bi-question-circle-fill text-muted" 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="right" 
                    title="Укажите ID-код получателя (для граждан Грузии) или номер заграничного паспорта (для иностранцев). Пожалуйста, вводите только достоверную информацию — эти данные будут использованы для таможенного оформления.">
                </i>

              </label>
              <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-card-heading"></i></span>
                <input type="text" name="recipient_passport" class="form-control" required data-i18n-placeholder="recipient_passport_placeholder" id="recipient_passport" placeholder="ID или номер паспорта">
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Остальные поля -->
      <div class="mb-3">

        <label class="form-label" data-i18n="city_label">
          Город получения
          <i 
            class="bi bi-question-circle-fill text-muted" 
            data-bs-toggle="tooltip" 
            data-bs-placement="right" 
            title="Выберите город получателя. Мы осуществляем выдачу посылок в Тбилиси и Батуми, а также доставку в любой указанный город или близлежащие населённые пункты по всей территории Грузии.">
          </i>
        </label>

        <select class="form-control form-control-lg" name="city" required>
            <option value="TBILISI">TBILISI</option>
            <option value="BATUMI">BATUMI</option>
            <option value="KOBULETI">KOBULETI</option>
            <option value="KUTAISI">KUTAISI</option>
            <option value="TELAVI">TELAVI</option>
            <option value="GORI">GORI</option>
            <option value="ZUGDIDI">ZUGDIDI</option>
            <option value="POTI">POTI</option>
            <option value="KHASHURI">KHASHURI</option>
            <option value="RUSTAVI">RUSTAVI</option>
            <option value="SAMTREDIA">SAMTREDIA</option>
            <option value="SENAKI">SENAKI</option>
            <option value="ZESTAPHONI">ZESTAPHONI</option>
            <option value="MARNEULI">MARNEULI</option>
            <option value="AKHALTSIKHE">AKHALTSIKHE</option>
            <option value="OZURGETI">OZURGETI</option>
            <option value="KASPI">KASPI</option>
            <option value="TCHIATURA">TCHIATURA</option>
            <option value="TSKALTUBO">TSKALTUBO</option>
            <option value="SAGAREJO">SAGAREJO</option>
            <option value="GARDABANI">GARDABANI</option>
            <option value="BORJOMI">BORJOMI</option>
            <option value="TKIBULI">TKIBULI</option>
            <option value="KHONI">KHONI</option>
            <option value="BOLNISI">BOLNISI</option>
            <option value="AKHALKALAKI">AKHALKALAKI</option>
            <option value="GURJAANI">GURJAANI</option>
            <option value="MTSKHETA">MTSKHETA</option>
            <option value="KVARELI">KVARELI</option>
            <option value="AKHMETA">AKHMETA</option>
            <option value="KARELI">KARELI</option>
            <option value="LANCHKHUTA">LANCHKHUTA</option>
            <option value="DUSHETI">DUSHETI</option>
            <option value="SACHKHERE">SACHKHERE</option>
            <option value="DEDOPLISTSKARO">DEDOPLISTSKARO</option>
            <option value="LAGODEKHI">LAGODEKHI</option>
            <option value="NINOTSMINDA">NINOTSMINDA</option>
            <option value="ABASHA">ABASHA</option>
            <option value="TSNORI">TSNORI</option>
            <option value="TERJOBA">TERJOBA</option>
            <option value="MARTVILI">MARTVILI</option>
            <option value="KHOBI">KHOBI</option>
            <option value="TSALENJIKHA">TSALENJIKHA</option>
            <option value="VANI">VANI</option>
            <option value="BAGDADI">BAGDADI</option>
            <option value="VALE">VALE</option>
            <option value="CHKHOROTSKU">CHKHOROTSKU</option>
            <option value="TETRITSQARO">TETRITSQARO</option>
            <option value="DMANISI">DMANISI</option>
            <option value="ONI">ONI</option>
            <option value="TSALKA">TSALKA</option>
            <option value="AMBROLAURI">AMBROLAURI</option>
            <option value="SIGNAGI">SIGNAGI</option>
            <option value="TSAGERI">TSAGERI</option>
            <option value="JVARI">JVARI</option>
        </select>
      </div>
    
      <div class="mb-3">

        <label class="form-label" data-i18n="description_label">
          Описание посылки
          <i 
            class="bi bi-question-circle-fill text-muted" 
            data-bs-toggle="tooltip" 
            data-bs-placement="right" 
            title="Укажите подробное описание содержимого посылки. Чем точнее будет список, тем лучше — особенно при наличии техники (указывайте наименование и модель). Это поможет избежать задержек на таможне.
            Если посылка коммерческого назначения и у вас есть товарная накладная, описание не требуется — достаточно указать, что груз коммерческий, и загрузить накладную ниже.">
          </i>
        </label>


        <textarea name="description" rows="3" class="form-control form-control-lg" required placeholder="Что внутри?" data-i18n-placeholder="description_placeholder"></textarea>
      </div>
    
      <div class="mb-4">

        <label class="form-label" data-i18n="invoice_label">
          Накладная (PDF)
          <i 
          class="bi bi-question-circle-fill text-muted ms-2" 
          data-bs-toggle="tooltip" 
          data-bs-placement="right" 
          data-bs-html="true"
          data-bs-title="
            <strong>Если ваш груз <u>не</u> является коммерческим — загружать ничего не нужно.</strong><br><br>
            Если же посылка <strong>коммерческого назначения</strong>, обязательно загрузите <u>товарную накладную в формате PDF</u>.<br><br>
            В накладной должны быть указаны:<br>
            1. Где был приобретён товар<br>
            2. Кто является получателем (должен совпадать с указанным вами получателем)<br>
            3. Подробное описание содержимого<br>
            4. Точное количество единиц товара<br>
            5. Печать или подпись продавца<br><br>
            <span style='color: red;'>⚠️ В случае несоответствия хотя бы одного из пунктов, накладная будет признана недействительной и не будет принята таможней.</span>
          ">
        </i>

        </label>
        <input type="file" name="invoice" accept="application/pdf" class="form-control form-control-lg">

      </div>
      <h5 class="mt-4 text-center" >Как подготовить PDF-файл</h5>
      <div class="alert alert-info mt-3" role="alert">
        <strong>Файл должен быть в формате PDF.</strong><br>
        Если ваша товарная накладная находится в другом формате — это не проблема. Вы можете легко и бесплатно конвертировать её в PDF с помощью онлайн-сервисов. Ниже приведены надёжные ресурсы:
        <ul class="mb-0 mt-2">
          <li>
            <a href="https://www.ilovepdf.com/ru/jpg_to_pdf" target="_blank">JPG to PDF</a> — если накладная в виде фотографии.<br>
            <small>💡 Если у вас несколько фото — на этом сайте вы можете объединить их в один PDF-документ.</small>
          </li>
          <li>
            <a href="https://www.ilovepdf.com/ru/word_to_pdf" target="_blank">Word to PDF</a> — если накладная в формате Word.
          </li>
          <li>
            <a href="https://www.ilovepdf.com/ru/excel_to_pdf" target="_blank">Excel to PDF</a> — если накладная в Excel.
          </li>
        </ul>
      </div>
    
      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg" data-i18n="submit_button">
          <i class="bi bi-send-check me-2"></i>Отправить заявку
        </button>
      </div>
    </form>
    
  </div>
</body>
      

      



  <!-- Модальное окно с информацией -->
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel" data-i18n="modal.title">Внимание!</h5>
        </div>
  
        <div class="modal-body">
          <div class="text-center mb-3">
            <label for="languageSelect" class="form-label me-2" data-i18n="modal.language_label">🌐 Язык:</label>
            <select id="languageSelect" class="form-select d-inline w-auto">
              <option value="ru" data-i18n="modal.language_ru">Русский</option>
              <option value="ka" data-i18n="modal.language_ka">ქართული</option>
              <option value="en" data-i18n="modal.language_en">English</option>
            </select>
          </div>
  
          <p><strong data-i18n="modal.important">Важно!</strong>
            <span data-i18n="modal.body_1">
              Пожалуйста, внимательно заполняйте все поля формы. В случае ошибки компания не несет ответственности за корректность указанных данных. В случае возникновения чрезвычайной ситуации (ЧП) отправитель несет полную ответственность за правильность и полноту предоставленной информации.
            </span>
          </p>
          
          <p data-i18n="modal.body_2">
            При нажатии на кнопку <strong data-i18n="modal.confirm_button_text">«Подтвердить»</strong>, вы подтверждаете, что ознакомлены с условиями и соглашаетесь с ними. В случае возникновения проблем с отправкой, вы не будете иметь претензий к компании.
          </p>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="confirmBtn" data-i18n="modal.confirm_button">Подтверждаю</button>
        </div>
      </div>
    </div>
  </div>


<!-- Модальное окно подтверждения -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel" data-i18n="modal_confirm.title">Подтверждение отправки</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>

      <div class="modal-body">
        <p data-i18n="modal_confirm.text1">Вы перепроверили все данные перед отправкой?</p>
        <p class="mb-0"><strong data-i18n="modal_confirm.text2">После подтверждения изменить отправленные данные будет невозможно.</strong></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="modal_confirm.review">Хочу перепроверить</button>
        <button type="button" class="btn btn-primary" id="confirmSubmitBtn" data-i18n="modal_confirm.confirm">Подтверждаю</button>
      </div>

    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="/static/js/form/modal_info.js"></script>
<script src="/static/js/form/translation.js"></script>
<script src="/static/js/form/submit.js"></script>
<script src="/static/js/form/validation.js"></script>




<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  tooltipTriggerList.forEach(el => {
    new bootstrap.Tooltip(el)
  })
</script>



</body>
</html>
