<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_index.css') }}">
    <title>მთავარი მენიუ</title>
</head>
<body>


<div class="menu_block">
    <div class="first_line_block">
        <div class="menu_element_block">
            <div class="el">
                <a href="/all">
                <img src="/static/images/all.webp" alt="Изображение"></a>
                <label>სია</label>
            </div>

            <div class="el">
                <a href="/add">
                <img src="/static/images/add.webp" alt="Изображение"></a>
                <label>დამატება</label>
            </div>

            <div class="el">
                <a href="/storage">
                <img src="/static/images/storage.webp" alt="Изображение"></a>
                <label>საწყობი</label>
            </div>
        </div>

    </div>
    <div class="last_line_block">
        <div class="menu_element_block">
                <div class="el2">
                    <a href="/booking">
                    <img src="/static/images/booking.webp" alt="Изображение"></a>
                    <label>ჯავშანი</label>
                </div>
                <div class="el2">
                    <a href="/chat">
                    <img src="/static/images/chat.webp" alt="Изображение"></a>
                    <label>ჩათი</label>
                </div>
                <div class="el2">
                    <a href="/logout">
                    <img src="/static/images/exit.webp" alt="Изображение"></a>
                    <label>გასვლა</label>
                </div>
        </div>  
    </div>
</div>


<div class="footer">
    <div class="footer-block">
        <h3>სამუშაო გრაფიკები:</h3>
        <p><strong>თბილისი:</strong></p>
        <p>ორშ-შაბ: 10:00 - 18:00</p>
        <p>კვირა: 10:00 - 17:00</p>
        <p><strong>ბათუმი:</strong></p>
        <p>ორშ-შაბ: 10:00 - 18:00</p>
        <p>კვირა: დაკტილია</p>
    </div>
    <div class="footer-block">
        <h3>თანამშრომელბის დასვენების გრაფიკი:</h3>
        <p><strong>გიორგი:</strong> ორშ & პარ</p>
        <p><strong>ჯემალი:</strong> სამშაბათი </p>
        <p><strong>დიმა:</strong> ხუთშაბათი</p>
        <p><strong>ერეკლე:</strong> კვირა</p>
        <p><strong>ზურა:</strong> კვირა </p>
    </div>
    <div class="footer-block">
        <h3>უკუკავშირი და შეცდომების გასწორება:</h3>
        <p>თუ თქვენ გაქვთ კითხვები, შეთავაზებები ან თქვენ იპოვეთ შეცდომა საიტზე, გთხოვთ, დაგვიკავშირდეთ:</p>
        <p>ტელეფონი: +995571181762</p>
        <p>Email: <a href="mailto:hardinhell@gmail.com">hardinhell@gmail.com</a></p>
    </div>
    <div class="footer-block">
        <h3>უსაფრთხოების პოლიტიკები და პროცედურები:</h3>
        <p>ჩვენ ვაფასებთ მონაცემების უსაფრთხოებას. გთხოვთ, არ გადასცეთ თქვენი აქაუნთის მონაცემები მესამე პირებს.</p>
        <p>შემთხვევაში თუ, ვინმემ როგორღაც გაიგო თქვენი აქაუნთის  მონაცემები, გთხოვთ დაუკავშირდით ადმინისტრატორს მონაცემების შესაცვლელად.</p>
    </div>
    <div class="footer-block">
        <p>&copy; 2023  -  "VIP-TOUR საერთაშორისო სატრანსპორტო კომპანია."</p>
        <p>ბოლო განახლება 28.09.2023</p>
    </div>
</div>


</body>

</html>
