{% extends 'base.html' %}

{% block title %}
  {{ super() }}
  ჯავშანი
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_list.css') }}">


<!-- Кнопка для открытия модального окна "payment" -->
<button id="openPaymentModal">Открыть окно Payment</button>



<div class="blanks_block_">
    <div class="container">
        <div class="number_block_">
            <label>შესავსები</label>
        </div>

        <div class="sender_block">
            <div class="label_block">
                <label>გამგზავნი:</label>
            </div>
            <div class="sender_fl_block">
                <label>სახელი/გვარი</label>
                <input type="text" name="sender_fl">
            </div>
            <div class="sender_phone_block">
                <label>ტელეფონი</label>
                <input type="text" name="sender_phone">
            </div>
        </div>

        <div class="recipient_block">
            <div class="label_block">
                <label>მიმღები:</label>
            </div>
            <div class="recipient_fl_block">
                <label>სახელი/გვარი</label>
                <input type="text" name="recipient_fl">
            </div>
            <div class="recipient_phone_block">
                <label>ტელეფონი</label>
                <input type="text" name="recipient_phone">
            </div>
        </div>

        <div class="information_block">
            <div class="label_block">
                <label>ინფორმაცია:</label>
            </div>
            <div class="passport_block">
                <label>პასპორტი</label>
                <input type="text" name="passport">
            </div>
            <div class="city_block">
                <label>ქალაქი</label>
                <input type="text" name="city">
            </div>
            <div class="cost_block">
                <label>ღირებულება</label>
                <input type="text" id="numericInput" oninput="sanitizeInput(this)" name="cost">
            </div>
        </div>

        <div class="weights_comment_block">
            <div class="label_block">
                <label>დეტალები:</label>
            </div>
            <div class="weights_block">
                <label>წონები</label>
                <input type="text" name="weights">
            </div>
            <div class="comment_block">
                <label>კომენტარი</label>
                <input type="text" name="comment">
            </div>
        </div>

        <div class="payment_block">
            <div class="label_block">
                <label>გადახდა:</label>
            </div>
            <div class="payment_value_block">
                <label>გადახდა</label>
                <input type="text" id="numericInput" name="payment" oninput="sanitizeInput(this)">
            </div>
            <div class="pay_block">
                <label>___</label>
                <div class="payment_status_block">
                    <label>
                        <input type="radio" name="payment_status" value="paid"> +
                    </label>
                    <label>
                        <input type="radio" name="payment_status" value="not_paid"> -
                    </label>
                    <label>
                        <input type="radio" name="payment_status" value="card"> ბარათი
                    </label>
                </div>
                <div class="payment_currency_block">
                    <label>
                        <input type="radio" name="payment_currency" value="GEL"> ₾
                    </label>
                    <label>
                        <input type="radio" name="payment_currency" value="RUB"> ₽
                    </label>
                    <label>
                        <input type="radio" name="payment_currency" value="EUR"> €
                    </label>
                    <label>
                        <input type="radio" name="payment_currency" value="USD"> $
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>
<button type="button" id="add">დამატება</button>


{% for item in data %}




















<div class="blanks_block" data-item="{{ item.number }}">
    <div class="number_block">
        <label>{{ item.number }}</label>
    </div>

    <div class="sender_block">
        <div class="label_block">
            <label>გამგზავნი:</label>
        </div>
        <div class="sender_fl_block">
            <label>სახელი/გვარი</label>
            <input type="text" value="{{ item.sender_fio }}">
        </div>
        <div class="sender_phone_block">
            <label>ტელეფონი</label>
            <input type="text" value="{{ item.sender_phone }}">
        </div>
    </div>

    <div class="recipient_block">
        <div class="label_block">
            <label>მიმღები:</label>
        </div>
        <div class="recipient_fl_block">
            <label>სახელი/გვარი</label>
            <input type="text" value="{{ item.recipient_fio }}">
        </div>
        <div class="recipient_phone_block">
            <label>ტელეფონი</label>
            <input type="text" value="{{ item.recipient_phone }}">
        </div>
    </div>

    <div class="information_block">
        <div class="label_block">
            <label>ინფორმაცია:</label>
        </div>
        <div class="passport_block">
            <label>პასპორტი</label>
            <input type="text" value="{{ item.passport }}">
        </div>
        <div class="city_block">
            <label>ქალაქი</label>
            <input type="text" value="{{ item.city }}">
        </div>
        <div class="cost_block">
            <label>ღირებულება</label>
            <input type="text" value="{{ item.price }}" id="numericInput" oninput="sanitizeInput(this)">
        </div>
    </div>

    <div class="weights_comment_block">
        <div class="label_block">
            <label>დეტალები:</label>
        </div>
        <div class="weights_block">
            <label>წონები</label>
            <input type="text" value="{{ item.weights }}">
        </div>
        <div class="comment_block">
            <label>კომენტარი</label>
            <input type="text" value="{{ item.comment }}">
        </div>
    </div>

    <div class="payment_block">
        <div class="label_block">
            <label>გადახდა:</label>
        </div>
        <div class="payment_value_block">
            <label>გადახდა</label>
            <input type="text" value="{{ item.cost }}" id="numericInput" oninput="sanitizeInput(this)">
        </div>
        <div class="pay_block">
            <label>___</label>
            <div class="payment_status_block">
                <label>
                    <input type="radio" name="payment_status_{{ item.id }}" value="paid" {% if item.payment_status == 'paid' %} checked {% endif %}> +
                </label>
                <label>
                    <input type="radio" name="payment_status_{{ item.id }}" value="not_paid" {% if item.payment_status == 'not_paid' %} checked {% endif %}> -
                </label>
                <label>
                    <input type="radio" name="payment_status_{{ item.id }}" value="card" {% if item.payment_status == 'card' %} checked {% endif %}> ბარათი
                </label>
            </div>
            <div class="payment_currency_block">
                <label>
                    <input type="radio" name="payment_currency_{{ item.id }}" value="GEL" {% if item.currency == 'GEL' %} checked {% endif %}> ₾
                </label>
                <label>
                    <input type="radio" name="payment_currency_{{ item.id }}" value="RUB" {% if item.currency == 'RUB' %} checked {% endif %}> ₽
                </label>
                <label>
                    <input type="radio" name="payment_currency_{{ item.id }}" value="EUR" {% if item.currency == 'EUR' %} checked {% endif %}> €
                </label>
                <label>
                    <input type="radio" name="payment_currency_{{ item.id }}" value="USD" {% if item.currency == 'USD' %} checked {% endif %}> $
                </label>
            </div>

            
        </div>

    </div>
</div>


{% endfor %}


<div id="EditModal" class="modal-edit">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>მონაცემების რედაქტირება</h2>
        <div id="edit-modal-data"></div>
        <button onclick="saveChanges()">შენახვა</button>
        <button onclick="deleteNumber()">წაშლა</button>
    </div>
</div>


<!-- Модальное окно "payment" -->
<div id="PaymentModal" class="payment_modal">
    <div class="payment_modal-content">
        <span class="close" id="closePaymentModal">&times;</span>
        <h2>სტატისტიკა</h2>
            <div class="diagrams_position">
                <div class="chart-container">
                    <label>გადახდა ლარში</label>
                    <canvas id="gelChartCanvas"></canvas>
                </div>
                <div class="chart-container">
                    <label>გადახდა რუბლში</label>
                    <canvas id="rubChartCanvas"></canvas>
                </div>
            </div>

            <div class="diagrams_position">
                <div class="chart-container">
                    <label>გადახდა დოლარში</label>
                    <canvas id="usdChartCanvas"></canvas>
                </div>
                <div class="chart-container">
                    <label>გადახდა ევროში</label>
                    <canvas id="eurChartCanvas"></canvas>
                </div>
            </div>
        <!-- Здесь вы можете добавить содержимое вашего модального окна "payment" -->
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>


<script>
// Получаем значение параметра "date" из URL
const urlParams = new URLSearchParams(window.location.search);
const dateParam = urlParams.get('date');
const cityParam = urlParams.get('where_from'); // Получаем значение параметра "city"

// Используем значение dateParam и cityParam по вашим потребностям
console.log('Выбранная дата:', dateParam);
console.log('Выбранный город:', cityParam);

$(document).ready(function() {
    $("#add").click(function() {
        // Соберем данные из полей в формате JSON
        var formData = {
            sender_fl: $("input[name='sender_fl']").val(),
            sender_phone: $("input[name='sender_phone']").val(),
            recipient_fl: $("input[name='recipient_fl']").val(),
            recipient_phone: $("input[name='recipient_phone']").val(),
            passport: $("input[name='passport']").val(),
            city: $("input[name='city']").val(),
            price: $("input[name='cost']").val(),
            weights: $("input[name='weights']").val(),
            comment: $("input[name='comment']").val(),
            payment: $("input[name='payment']").val(),
            payment_status: $("input[name='payment_status']:checked").val(),
            payment_currency: $("input[name='payment_currency']:checked").val(),
            date: dateParam, // Используем выбранную дату из URL
            where_from: cityParam
        };

        $.ajax({
            type: "POST",
            url: "/add_to_the_list",  // Замените на адрес вашего обработчика
            data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                // Обработайте успешный ответ с сервера, если необходимо
                console.log(response);

                // Перезагрузите страницу после успешной отправки
                window.location.reload();
            },
            error: function(error) {
                // Обработайте ошибку, если необходимо
                console.error(error);
            }
        });
    });
});
</script>








<script>
// Открытие модального окна и копирование данных
function openModalWithData(item) {
    var modal = document.getElementById("EditModal");
    var modalData = document.getElementById("edit-modal-data");

    // Получаем значение атрибута data-item
    var itemId = item.getAttribute("data-item");

    // Клонируем блок данных из .blanks_block
    var itemClone = item.cloneNode(true);

    modalData.innerHTML = "";
    modalData.appendChild(itemClone);

    // Добавляем значение data-item как атрибут data-id для элемента modalData
    modalData.setAttribute("data-id", itemId);

    modal.style.display = "block";
}

// Закрытие модального окна
function closeEditModal() {
    var modal = document.getElementById("EditModal");
    modal.style.display = "none";
    
}

// Обработчик события keydown для клавиши "Esc"
window.addEventListener("keydown", function(event) {
    if (event.key === "Escape") {
        closeEditModal();
    }
});

// Закрытие модального окна при клике вне окна
window.addEventListener("click", function(event) {
    var modal = document.getElementById("EditModal");
    if (event.target === modal) {
        closeEditModal();
    }
});

// Обработчик события для открытия модального окна при клике на .blanks_block
var blanksBlocks = document.querySelectorAll(".blanks_block");
blanksBlocks.forEach(function(blanksBlock) {
    blanksBlock.addEventListener("click", function() {
        openModalWithData(blanksBlock);
    });
});





// Функция сохранения изменений
function saveChanges() {
    var modalData = document.getElementById("edit-modal-data");
    var itemId = modalData.getAttribute("data-id"); // Получаем идентификатор элемента из атрибута data-id

    // Получите новые данные из модального окна
    var newSenderFIO = modalData.querySelector('.sender_fl_block input').value;
    var newSenderPhone = modalData.querySelector('.sender_phone_block input').value;
    var newRecipientFIO = modalData.querySelector('.recipient_fl_block input').value;
    var newRecipientPhone = modalData.querySelector('.recipient_phone_block input').value;

    var newPassport = modalData.querySelector('.passport_block input').value;
    var newCity = modalData.querySelector('.city_block input').value;
    var newCost = modalData.querySelector('.cost_block input').value;
    var newWeights = modalData.querySelector('.weights_block input').value;
    var newComment = modalData.querySelector('.comment_block input').value;
    var newPayment = modalData.querySelector('.payment_value_block input').value;
    var newPaymentStatus = modalData.querySelector('.payment_status_block input:checked').value;
    var newCurrency = modalData.querySelector('.payment_currency_block input:checked').value;
    var dateParam = urlParams.get('date');
    var cityParam = urlParams.get('where_from');
    
    var numberBlock = document.querySelector('.number_block');
    var labelText = numberBlock.querySelector('label').textContent;


    // ... продолжайте для других полей

    // Создайте объект с новыми данными
    var newData = {
        item_id: itemId, // Передаем идентификатор элемента
        sender_fio: newSenderFIO,
        sender_phone: newSenderPhone,
        recipient_fio: newRecipientFIO,
        recipient_phone: newRecipientPhone,
        passport: newPassport,
        city: newCity,
        cost: newCost,
        weights: newWeights,
        comment: newComment,
        payment: newPayment,
        payment_status: newPaymentStatus,
        currency: newCurrency,
        date: dateParam,
        where_from: cityParam,
        // ... продолжайте для других полей
    };

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/edit-the-list", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            // Обработайте успешный ответ сервера
            closeEditModal(); // Закрываем модальное окно после успешного сохранения
            window.location.reload();
        } else if (xhr.readyState === 4) {
            // Обработайте ошибку
            console.error('Ошибка при сохранении данных на сервере');
        }
    };
    xhr.send(JSON.stringify(newData));
}
</script>

















<!-- Скрипты для модального окна "payment" -->
<script>
    // Обработчик для кнопки открытия модального окна "payment"
    document.getElementById("openPaymentModal").addEventListener("click", function() {
        document.getElementById("PaymentModal").style.display = "block";
    });

    // Обработчик для кнопки закрытия модального окна "payment"
    document.getElementById("closePaymentModal").addEventListener("click", function() {
        document.getElementById("PaymentModal").style.display = "none";
    });

    // Обработчик для закрытия модального окна при клике вне окна
    window.addEventListener("click", function(event) {
        var modal = document.getElementById("PaymentModal");
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });

    // Обработчик для закрытия модального окна при нажатии клавиши "Esc"
    window.addEventListener("keydown", function(event) {
        var modal = document.getElementById("PaymentModal");
        if (event.key === "Escape" && modal.style.display === "block") {
            modal.style.display = "none";
        }
    });
</script>





<script>
    // Получите данные для диаграммы из переменных, которые у вас есть
    var gelPaid = "{{ gel_paid }}";
    var gelCard = "{{ gel_card }}";
    var gelNotPaid = "{{ gel_not_paid }}";

    // Создаем круговую диаграмму
    var ctx = document.getElementById('gelChartCanvas').getContext('2d');
    
    
    var gelChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['ქეშით', 'ბარათით', 'გადასახდელი'],
            datasets: [{
                data: [gelPaid, gelCard, gelNotPaid],
                backgroundColor: ['green', 'blue', 'red']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>


<script>
    // Получите данные для диаграммы RUB из переменных, которые у вас есть
    var rubPaid = "{{ rub_paid }}";
    var rubCard = "{{ rub_card }}";
    var rubNotPaid = "{{ rub_not_paid }}";

    // Создаем круговую диаграмму для RUB
    var ctxRub = document.getElementById('rubChartCanvas').getContext('2d');
    var rubChart = new Chart(ctxRub, {
        type: 'pie',
        data: {
            labels: ['ქეშით', 'ბარათით', 'გადასახდელი'],
            datasets: [{
                data: [rubPaid, rubCard, rubNotPaid],
                backgroundColor: ['green', 'blue', 'red']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>


<script>
    // Получите данные для диаграммы USD из переменных, которые у вас есть
    var usdPaid = "{{ usd_paid }}";
    var usdCard = "{{ usd_card }}";
    var usdNotPaid = "{{ usd_not_paid }}";

    // Создаем круговую диаграмму для USD
    var ctxUSD = document.getElementById('usdChartCanvas').getContext('2d');
    var usdChart = new Chart(ctxUSD, {
        type: 'pie',
        data: {
            labels: ['ქეშით', 'ბარათით', 'გადასახდელი'],
            datasets: [{
                data: [usdPaid, usdCard, usdNotPaid],
                backgroundColor: ['green', 'blue', 'red']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>


<script>
    // Получите данные для диаграммы EUR из переменных, которые у вас есть
    var eurPaid = "{{ eur_paid }}";
    var eurCard = "{{ eur_card }}";
    var eurNotPaid = "{{ eur_not_paid }}";

    // Создаем круговую диаграмму для EUR
    var ctxEUR = document.getElementById('eurChartCanvas').getContext('2d');
    var eurChart = new Chart(ctxEUR, {
        type: 'pie',
        data: {
            labels: ['ქეშით', 'ბარათით', 'გადასახდელი'],
            datasets: [{
                data: [eurPaid, eurCard, eurNotPaid],
                backgroundColor: ['green', 'blue', 'red']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>


<script>
    // Функция для отправки AJAX-запроса на сервер для удаления элемента
function deleteNumber() {
    var modalData = document.getElementById("edit-modal-data");
    var itemId = modalData.getAttribute("data-id"); // Получаем идентификатор элемента из атрибута data-id
    var dateParam = urlParams.get('date');
    var cityParam = urlParams.get('where_from');

    // Создаем объект XMLHttpRequest для отправки запроса
    var xhr = new XMLHttpRequest();

    // Устанавливаем метод и URL для запроса
    xhr.open("POST", "/deleted_from_list", true);

    // Устанавливаем заголовок Content-Type для отправки данных в формате JSON
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

    // Создаем объект данных для отправки на сервер
    var data = {
        itemId: itemId,
        dateParam: dateParam,
        cityParam: cityParam
    };

    // Преобразуем объект данных в формат JSON
    var jsonData = JSON.stringify(data);

    // Устанавливаем обработчик события успешного завершения запроса
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            // Обработка успешного ответа от сервера
            var response = JSON.parse(xhr.responseText);
            if (response.success) {
                // Можете выполнить какие-либо действия, например, обновить страницу
                location.reload();
            } else {
                // Обработка ошибки, если не удалось удалить элемент
                alert("Произошла ошибка при удалении элемента.");
            }
        }
    };

    // Отправляем запрос на сервер
    xhr.send(jsonData);
}
</script>


<script>
    function sanitizeInput(input) {
    // Заменяем все нецифровые символы на пустую строку
    input.value = input.value.replace(/\D/g, '');
}
</script>





{% endblock %}
