{% extends 'base.html' %}

{% block title %}
  {{ super() }}
  ბლანკები
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_list.css') }}">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

<style>
    .hidden {
        display: none;
    }
</style>




<div class="container text-center">
    <div class="list-menu d-flex justify-content-center align-items-center">

        <div id="toggleLanguageButton" class="icons" title="ენის შეცვლა">
            <i class="bi bi-translate"></i>
        </div> 

        <div data-lang="ge" id="openPaymentModalGe" class="icons" title="სტატისტიკა" >
            <i class="bi bi-currency-exchange"></i>
        </div>
        <div data-lang="ru" id="openPaymentModalRu" class="icons hidden" title="Статистика">
            <i class="bi bi-currency-exchange"></i>
        </div>

        <div data-lang="ge" onclick="manifestDownload()" class="icons" title="გადმოწერა">
            <i class="bi bi-download"></i>
        </div>
        <div data-lang="ru" onclick="manifestDownload()" class="icons hidden" title="Скачать">
            <i class="bi bi-download"></i>
        </div>

        <div data-lang="ge" id="openDeliveryModalGe" class="icons" title="მიტანები">
            <i class="bi bi-truck"></i>
        </div>
        <div data-lang="ru" id="openDeliveryModalRu" class="icons hidden" title="Доставки">
            <i class="bi bi-truck"></i>
        </div>

        <input data-lang="ge" type="text" class="form-control mr-2" placeholder="ძიება" id="filterInput">
        <input data-lang="ru" type="text" class="form-control mr-2 hidden" placeholder="Поиск" id="filterInput">

        <p data-lang="ge" class="weight-info mb-0 text-nowrap">წონა: <span class="red">{{ total_weight }} </span> კგ</p>
        <p data-lang="ru" class="weight-info mb-0 text-nowrap hidden">вес: <span class="red">{{ total_weight }} </span> Кг</p>

    </div>
</div>




<div id="DeliveryModal" class="modal-delivery">
    <div class="modal-delivery-content">
        <span class="close" id="closeDeliveryModal">&times;</span>
        <h1 data-lang="ge">სახლში მისატანი ამანათების სია</h1>
        <h1 data-lang="ru" class="hidden">Список доставок на дом</h1>
        <table class="stat">
            <tr class="stat-tr">
                <th data-lang="ge">ქალაქი</th>
                <th data-lang="ru" class="hidden">Город</th>
                <th data-lang="ge">ნომერი</th>
                <th data-lang="ru" class="hidden">Номер</th>
                <th data-lang="ge">მიმღები</th>
                <th data-lang="ru" class="hidden">Получатель</th>
                <th data-lang="ge">ტელეფონი</th>
                <th data-lang="ru" class="hidden">Телефон</th>
                <th data-lang="ge">მისამართი</th>
                <th data-lang="ru" class="hidden">Адрес</th>
                <th data-lang="ge">წონები</th>
                <th data-lang="ru" class="hidden">Веса</th>
                <th data-lang="ge">გადახდა</th>
                <th data-lang="ru" class="hidden">Оплата</th>
            </tr>
        {% for item in list_delivery %}
            <tr class="stat-tr">
                <td>{{ item.city }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.recipient_fio }}</td>
                <td>{{ item.recipient_phone }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.weights }}</td>
                <td>{% if item.payment_status == 'not_paid' %} -{{item.cost}}{{item.currency}} {% else %}+{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
        
    </div>
</div>



<!-- Модальное окно "payment" -->
<div id="PaymentModal" class="modal_statistic">
    <div class="modal_statistic-content">
        <span class="close" id="closePaymentModal">&times;</span>
        <h2 data-lang="ge" class="stat-name">სტატისტიკა</h2>
        <h2 data-lang="ru" class="stat-name hidden">Статистика</h2>
                <div class="diagram_box_block">
                    <div class="diagram_block">
                        <canvas id="gelChartCanvas"></canvas>
                    </div>
                    <div class="diagram_block_four">
                        <canvas id="rubChartCanvas"></canvas>
                    </div>

                    <div class="diagram_block_two">
                        <canvas id="usdChartCanvas"></canvas>
                    </div>
                    <div class="diagram_block_three">
                        <canvas id="eurChartCanvas"></canvas>
                    </div>
                </div>
                <h2 data-lang="ge" class="stat-name">საერთო შემოსავალი ბართი + ნაღდი</h2>
                <h2 data-lang="ru" class="stat-name hidden">Общая прибыль карта + наличка</h2>
        <table class="stat">
            <tr class="stat-tr">
                <td>RUB</td>
                <td>GEL</td>
                <td>USD</td>
                <td>EUR</td>
            </tr>
            <tr class="stat-tr">
                <td>{{ rub_paid + rub_card }}</td>
                <td>{{ gel_paid + gel_card }}</td>
                <td>{{ usd_paid + usd_card }}</td>
                <td>{{ eur_paid + eur_card }}</td>
            </tr>
        </table>
    </div>
</div>



<div class="content_list_block">
    <div class="blanks_block_">
        <form method="POST" action="/add_parcell_to_list">
            <input type="text" name="date" hidden value="{{ date_param }}">
            <input type="text" name="where_from" hidden value="{{ city_param }}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-lang="ge" for="sender_fl">გამგზავნი:</label>
                        <label data-lang="ru" class="hidden" for="sender_fl">Отправитель:</label>
                        <input type="text" class="form-control" name="sender_fl" id="sender_fl">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-lang="ge" for="sender_phone">ტელეფონი:</label>
                        <label data-lang="ru" class="hidden" for="sender_phone">Телефон:</label>
                        <input type="text" class="form-control" name="sender_phone" id="sender_phone" oninput="sanitizeInput(this)">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-lang="ge" for="recipient_fl">მიმღები:</label>
                        <label data-lang="ru" class="hidden" for="recipient_fl">Получатель:</label>
                        <input type="text" class="form-control" name="recipient_fl" id="recipient_fl" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-lang="ge" for="recipient_phone">ტელეფონი:</label>
                        <label data-lang="ru" class="hidden" for="recipient_phone">Телефон:</label>
                        <input type="text" class="form-control" name="recipient_phone" id="recipient_phone" oninput="sanitizeInput(this)" required>
                    </div>
                </div>
            </div>


            

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label data-lang="ge" for="passport">პასპორტი:</label>
                        <label data-lang="ru" class="hidden" for="passport">Паспорт:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="passport" id="passport">
                            <button type="button" class="btn btn-primary" id="checkButton">Check</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label data-lang="ge" for="city">ქალაქი:</label>
                        <label data-lang="ru" class="hidden" for="city">Город:</label>
                        <select class="form-control" name="city" id="city">
                            <option value="TBILISI">TBILISI</option>
                            <option value="BATUMI">BATUMI</option>
                            <option value="KOBULETI">KOBULETI</option>
                            <option value="KUTAISI">KUTAISI</option>
                            <option value="TELAVI">TELAVI</option>
                            <option value="GORI">GORI</option>
                            <option value="ZUGDIDI">ZUGDIDI</option>
                            <option value="POTI">POTI</option>
                            <option value="KHASHURI">KHASHURI</option>
                            <option value="RUSTAVI">RUSTAVI</option>
                            <option value="SAMTREDIA">SAMTREDIA</option>
                            <option value="SENAKI">SENAKI</option>
                            <option value="ZESTAPHONI">ZESTAPHONI</option>
                            <option value="MARNEULI">MARNEULI</option>
                            <option value="AKHALTSIKHE">AKHALTSIKHE</option>
                            <option value="OZURGETI">OZURGETI</option>
                            <option value="KASPI">KASPI</option>
                            <option value="TCHIATURA">TCHIATURA</option>
                            <option value="TSKALTUBO">TSKALTUBO</option>
                            <option value="SAGAREJO">SAGAREJO</option>
                            <option value="GARDABANI">GARDABANI</option>
                            <option value="BORJOMI">BORJOMI</option>
                            <option value="TKIBULI">TKIBULI</option>
                            <option value="KHONI">KHONI</option>
                            <option value="BOLNISI">BOLNISI</option>
                            <option value="AKHALKALAKI">AKHALKALAKI</option>
                            <option value="GURJAANI">GURJAANI</option>
                            <option value="MTSKHETA">MTSKHETA</option>
                            <option value="KVARELI">KVARELI</option>
                            <option value="AKHMETA">AKHMETA</option>
                            <option value="KARELI">KARELI</option>
                            <option value="LANCHKHUTA">LANCHKHUTA</option>
                            <option value="DUSHETI">DUSHETI</option>
                            <option value="SACHKHERE">SACHKHERE</option>
                            <option value="DEDOPLISTSKARO">DEDOPLISTSKARO</option>
                            <option value="LAGODEKHI">LAGODEKHI</option>
                            <option value="NINOTSMINDA">NINOTSMINDA</option>
                            <option value="ABASHA">ABASHA</option>
                            <option value="TSNORI">TSNORI</option>
                            <option value="TERJOBA">TERJOBA</option>
                            <option value="MARTVILI">MARTVILI</option>
                            <option value="KHOBI">KHOBI</option>
                            <option value="TSALENJIKHA">TSALENJIKHA</option>
                            <option value="VANI">VANI</option>
                            <option value="BAGDADI">BAGDADI</option>
                            <option value="VALE">VALE</option>
                            <option value="CHKHOROTSKU">CHKHOROTSKU</option>
                            <option value="TETRITSQARO">TETRITSQARO</option>
                            <option value="DMANISI">DMANISI</option>
                            <option value="ONI">ONI</option>
                            <option value="TSALKA">TSALKA</option>
                            <option value="AMBROLAURI">AMBROLAURI</option>
                            <option value="SIGNAGI">SIGNAGI</option>
                            <option value="TSAGERI">TSAGERI</option>
                            <option value="JVARI">JVARI</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label data-lang="ge" for="cost">ღირებულება:</label>
                        <label data-lang="ru" class="hidden" for="cost">Стоимость:</label>
                        <input type="text" class="form-control" id="cost" oninput="sanitizeInput(this)" name="cost">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label data-lang="ge" for="weights">წონები:</label>
                        <label data-lang="ru" class="hidden" for="weights">Веса:</label>
                        <input type="text" class="form-control" name="weights" id="weights" oninput="weightsInputHandler(this)" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label data-lang="ge" for="comment">კომენტარი:</label>
                        <label data-lang="ru" class="hidden" for="comment">Комментарий:</label>
                        <input type="text" class="form-control" name="comment" id="comment">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Лейблы для разных языков -->
                        <label data-lang="ge" for="payment">თანხა/მიტანა:</label>
                        <label data-lang="ru" class="hidden" for="payment">Оплата/Доставка:</label>
                
                        <div class="input-group">
                            <!-- Поле для отображения оплаты -->
                            <input type="text" class="form-control" id="payment" name="payment" oninput="sanitizeInput(this)" required readonly>
                
                            <!-- Кнопка в виде чекбокса -->
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" id="enable_payment_button" onclick="togglePaymentField()">
                                    სტანდარტული
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-lang="ge" for="address">მისამართი:</label>
                        <label data-lang="ge" class="hidden" for="address">Адрес:</label>
                        <input type="text" class="form-control" name="address" id="address">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-lang="ge" for="payment_status">სტატუსი:</label>
                        <label data-lang="ru" class="hidden" for="payment_status">Статус:</label>
                        <div class="radio-block">
                            <label class="radio-label">
                                <input type="radio" name="payment_status" value="paid">
                                <span class="radio-custom">
                                    <img src="/static/images/paid cash.png" alt="Картинка">
                                </span>
                            </label>

                            <label class="radio-label">
                                <input type="radio" name="payment_status" value="card">
                                <span class="radio-custom">
                                    <img src="/static/images/paid card.png" alt="Картинка">
                                </span>
                            </label>

                            <label class="radio-label">
                                <input type="radio" name="payment_status" value="not_paid">
                                <span class="radio-custom">
                                    <img src="/static/images/not paid.png" alt="Картинка">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-lang="ge" for="payment_currency">გადახდის მეთოდი:</label>
                        <label data-lang="ru" class="hidden" for="payment_currency">Метод оплаты:</label>
                        <div class="radio-block">
                            <label class="radio-label">
                                <input type="radio" name="payment_currency" value="GEL">
                                <span class="radio-custom">
                                    <span class="radio-label-text">₾</span>
                                </span>
                            </label>
                            <label class="radio-label">
                                <input type="radio" name="payment_currency" value="RUB">
                                <span class="radio-custom">
                                    <span class="radio-label-text">₽</span>
                                </span>
                            </label>
                            <label class="radio-label">
                                <input type="radio" name="payment_currency" value="EUR">
                                <span class="radio-custom">
                                    <span class="radio-label-text">€</span>
                                </span>
                            </label>
                            <label class="radio-label">
                                <input type="radio" name="payment_currency" value="USD">
                                <span class="radio-custom">
                                    <span class="radio-label-text">$</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="send-data">
                <button data-lang="ge" type="submit" id="add" class="btn btn-primary">დამატება</button>
                <button data-lang="ru" type="submit" id="add" class="btn btn-primary hidden">Добавить</button>
            </div>
        </form>
    </div>
</div>

            

<div class="container">
    <h1 data-lang="ge" class="header text-center my-4">შეკვეთები</h1>
    <h1 data-lang="ru" class="header text-center my-4 hidden">Заказы</h1>
    <div class="table-responsive">
        <ul class="list-group" id="orderList">
            {% if data %}
                {% for item in data %}
                <li class="list-group-item">
                    <h5 data-lang="ge" id="{{item.id}}" class="list-group-edit {% if item.added_to_the_manifest == 'yes' %}mb-3 green{% else %}mb-3{% endif %}">შეკვეთა # {% if item.where_from=='Москва' %} {{ item.number }} {% else %} 0{{ item.number }} {% endif %}</h5>
                    <h5 data-lang="ru" id="{{item.id}}" class="list-group-edit hidden {% if item.added_to_the_manifest == 'yes' %}mb-3 green{% else %}mb-3{% endif %}">Заказ # {% if item.where_from=='Москва' %} {{ item.number }} {% else %} 0{{ item.number }} {% endif %}</h5>

                    <div class="row">
                        <div class="col-md-4">
                            <h6 data-lang="ge" >ინფორმაცია მიმღებზე</h6>
                            <h6 data-lang="ru" class="hidden" >Информация о получателе</h6>
                            <p data-lang="ge" >მიმღები: <span class="bold recipient-fio"> {{ item.recipient_fio }} </span></p>
                            <p data-lang="ru" class="hidden" >Получатель: <span class="bold recipient-fio"> {{ item.recipient_fio }} </span></p>
                            <p data-lang="ge" >ტელეფონი: <span class="bold recipient-phone"> {{ item.recipient_phone }}</span></p>
                            <p data-lang="ru" class="hidden" >Телефон: <span class="bold recipient-phone"> {{ item.recipient_phone }}</span></p>
                            <p data-lang="ge" >პასპორტი: <span class="bold passport"> {{ item.passport }}</span></p>
                            <p data-lang="ru" class="hidden" >Паспорт: <span class="bold passport"> {{ item.passport }}</span></p>
                        </div>
                        <div class="col-md-4">
                            <h6 data-lang="ge">ამანათის შესახებ</h6>
                            <h6 data-lang="ru" class="hidden">О посылке</h6>
                            <p data-lang="ge">გამგზავნი: <span class="bold sender-fio">{{ item.sender_fio }}</span></p>
                            <p data-lang="ru" class="hidden" >Отправитель: <span class="bold sender-fio">{{ item.sender_fio }}</span></p>
                            <p data-lang="ge">ტელეფონი: <span class="bold sender-phone">{{ item.sender_phone }}</span></p>
                            <p data-lang="ru" class="hidden" >Телефон: <span class="bold sender-phone">{{ item.sender_phone }}</span></p>
                            <p data-lang="ge">ღირებულება: <span class="bold">{{ item.price }} ₽</span> </p> 
                            <p data-lang="ru" class="hidden" >Стоимость: <span class="bold">{{ item.price }} ₽</span> </p> 
                        </div>
                        <div class="col-md-4">
                            <h6 data-lang="ge" >ტრანსპორტირება</h6>
                            <h6 data-lang="ru" class="hidden" >Транспортировка</h6>
                            <p data-lang="ge" >მიმღების ქალაქი: <span class="bold">{{ item.city }}</span></p>
                            <p data-lang="ru" class="hidden" >Город получателя: <span class="bold">{{ item.city }}</span></p>
                            <p data-lang="ge" >მისამართი: <span class="bold"> {% if item.address %} {{ item.address }} {% else %} --- {% endif %} </span></p>
                            <p data-lang="ru" class="hidden" >Адрес: <span class="bold"> {% if item.address %} {{ item.address }} {% else %} --- {% endif %} </span></p>
                            <p data-lang="ge" >საფასური: {% if item.payment_status=='paid' %} <span class="green"><img class="img-size" src="/static/images/paid cash.png" alt="Картинка"> {{ item.cost }} {{ item.currency }}</span> {% elif item.payment_status=='card'%} <span class='green'><img class="img-size" src="/static/images/paid card.png" alt="Картинка"> {{item.cost}} {{ item.currency }}</span>{%else%}<span class='red'>-{{item.cost}} {{ item.currency }}</span>{% endif %}</p>
                            <p data-lang="ru" class="hidden" >Стоимость: {% if item.payment_status=='paid' %} <span class="green"><img class="img-size" src="/static/images/paid cash.png" alt="Картинка"> {{ item.cost }} {{ item.currency }}</span> {% elif item.payment_status=='card'%} <span class='green'><img class="img-size" src="/static/images/paid card.png" alt="Картинка"> {{item.cost}} {{ item.currency }}</span>{%else%}<span class='red'>-{{item.cost}} {{ item.currency }}</span>{% endif %}</p>
                        </div>
                        <div class="col-12">
                            <h6 data-lang="ge" >ამანათის აღწერა / დამატებითი ინფორმაცია</h6>
                            <h6 data-lang="ru" class="hidden">Описание посылки / Дополнительная информация</h6>
                            <p>{{ item.comment }} </p>
                            <p data-lang="ge" class="parcel-description">წონები: <span class="weights">{{item.weights}}</span></p>
                            <p data-lang="ru" class="parcel-description hidden">Веса: <span class="weights">{{item.weights}}</span></p>

                        </div>
                    </div>
                </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">შეკვეთები არ მოიძებნა.</li>
            {% endif %}
        </ul>
    </div>
</div>



<!-- Модальное окно -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">გაფრთხილება</h5>
            </div>
            <div class="modal-body">
                მონაცემთა ბაზაში მითითებული პასპორტის ნომერი არ მოიძებნა. სავარაუდოდ, ამ მიმღებზე ამანათი ფორმდება პირველად, ან მისი მონაცემები ადრე არ ყოფილა ჩაწერილი.
            </div>
        </div>
    </div>
</div>



<div class="scroll_block">
    <!-- Вставьте вашу фотографию здесь -->
    <img src="/static/images/up.png" alt="ზემოთ" id="scrollToTopButton">
</div>


<!-- jQuery, Popper.js, и Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>








<script>
    document.getElementById('add').addEventListener('click', function(event) {
    var radios = document.getElementsByName('payment_status');
    var isChecked = Array.from(radios).some(radio => radio.checked);
    if (!isChecked) {
        event.preventDefault();
        alert('გთხოვთ აირჩიოთ გადახდის მეთოდი');
    }
});
</script>

<script>
    document.getElementById('add').addEventListener('click', function(event) {
    var radios = document.getElementsByName('payment_currency');
    var isChecked = Array.from(radios).some(radio => radio.checked);
    if (!isChecked) {
        event.preventDefault();
        alert('გთხოვთ აირჩიოთ ვალუტა');
    }
});

</script>







<script>
    var gelPaid = parseFloat("{{ gel_paid }}");
    var gelCard = parseFloat("{{ gel_card }}");
    var gelNotPaid = parseFloat("{{ gel_not_paid }}");

    var ctx = document.getElementById('gelChartCanvas').getContext('2d');
    
    var options = {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                labels: {
                    color: '#d2d2d2'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#d2d2d2'
                }
            },
            y: {
                ticks: {
                    color: '#d2d2d2'
                }
            }
        }
    };

    var data = {
        labels: ['ნაღდი', 'ბარათით', 'გადასახდელი'],
        datasets: [{
            label: 'GEL',
            data: [gelPaid, gelCard, gelNotPaid],
            backgroundColor: ['#e3f707', '#00c2fc', '#fc004c']
        }]
    };

    var gelChart = new Chart(ctx, {
        type: 'bar', // Изменили тип диаграммы на 'bar'
        data: data,
        options: options
    });
</script>


<script>
    var rubPaid = parseFloat("{{ rub_paid }}");
    var rubCard = parseFloat("{{ rub_card }}");
    var rubNotPaid = parseFloat("{{ rub_not_paid }}");

    var ctxRub = document.getElementById('rubChartCanvas').getContext('2d');
    
    var optionsRub = {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                labels: {
                    color: '#d2d2d2'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#d2d2d2'
                }
            },
            y: {
                ticks: {
                    color: '#d2d2d2'
                }
            }
        }
    };

    var dataRub = {
        labels: ['ნაღდი', 'ბარათით', 'გადასახდელი'],
        datasets: [{
            label: 'RUB',
            data: [rubPaid, rubCard, rubNotPaid],
            backgroundColor: ['#e3f707', '#00c2fc', '#fc004c']
        }]
    };

    var rubChart = new Chart(ctxRub, {
        type: 'bar',
        data: dataRub,
        options: optionsRub
    });
</script>



<script>
    var usdPaid = parseFloat("{{ usd_paid }}");
    var usdCard = parseFloat("{{ usd_card }}");
    var usdNotPaid = parseFloat("{{ usd_not_paid }}");

    var ctxUSD = document.getElementById('usdChartCanvas').getContext('2d');
    
    var optionsUSD = {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                labels: {
                    color: '#d2d2d2'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#d2d2d2'
                }
            },
            y: {
                ticks: {
                    color: '#d2d2d2'
                }
            }
        }
    };

    var dataUSD = {
        labels: ['ნაღდი', 'ბარათით', 'გადასახდელი'],
        datasets: [{
            label: 'USD',
            data: [usdPaid, usdCard, usdNotPaid],
            backgroundColor: ['#e3f707', '#00c2fc', '#fc004c']
        }]
    };

    var usdChart = new Chart(ctxUSD, {
        type: 'bar',
        data: dataUSD,
        options: optionsUSD
    });
</script>



<script>
    var eurPaid = parseFloat("{{ eur_paid }}");
    var eurCard = parseFloat("{{ eur_card }}");
    var eurNotPaid = parseFloat("{{ eur_not_paid }}");

    var ctxEUR = document.getElementById('eurChartCanvas').getContext('2d');
    
    var optionsEUR = {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                labels: {
                    color: '#d2d2d2'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#d2d2d2'
                }
            },
            y: {
                ticks: {
                    color: '#d2d2d2'
                }
            }
        }
    };

    var dataEUR = {
        labels: ['ნაღდი', 'ბარათით', 'გადასახდელი'],
        datasets: [{
            label: 'EUR',
            data: [eurPaid, eurCard, eurNotPaid],
            backgroundColor: ['#e3f707', '#00c2fc', '#fc004c']
        }]
    };

    var eurChart = new Chart(ctxEUR, {
        type: 'bar',
        data: dataEUR,
        options: optionsEUR
    });

</script>


<!-- Фильтрует веса  -->
<script src="/static/js/list/weightsFilter.js"></script>
<!-- очищает инпут от всего кроме чисел -->
<script src="/static/js/list/digitsOnly.js"></script>
<!-- скрипт для открытия модельного окна статистики -->
<script src="/static/js/list/statisticWindow.js"></script>
<!-- скрипт для открытия модельного окна с доставками -->
<script src="/static/js/list/deliveryWindow.js"></script>
<!-- скачивает готовый манифест -->
<script src="/static/js/list/downloadManifest.js"></script>
<!-- поднимает пользователя на самый мерх старницы -->
<script src="/static/js/list/scrollToTop.js"></script>
<!-- перенаправляет на страницу для редактирования  -->
<script src="/static/js/list/redirectToEditParcel.js"></script>
<!-- фильтр для поиска совпадении по мени, номеру телефона, по паспорту -->
<script src="/static/js/list/orderListSearch.js"></script>
<!-- выделяет красным все те записи чей вес выше 29.5кг -->
<script src="/static/js/list/highlightWeights.js"></script>
<!-- проверяет есть ли пользователь и если да то вернёт данные -->
<script src="/static/js/list/PasspoerCkeck.js"></script>
<!-- будет включать или выключать возможность редактировать поле payment -->
<script src="/static/js/list/OnOrOffAutoPrice.js"></script>
<!-- Функция для перерасчета стоимости -->
<script src="/static/js/list/SelectVault.js"></script>
<!-- Функции для получения выбранных значений -->
<script src="/static/js/list/PriceSum.js"></script>
<!-- Вызов перерасчета при изменении данных -->
<script src="/static/js/list/ReSum.js"></script>




<script>
    function toggleLanguage() {
        var russianElements = document.querySelectorAll('[data-lang="ru"]');
        var englishElements = document.querySelectorAll('[data-lang="ge"]');
        
        russianElements.forEach(function(element) {
            element.classList.toggle('hidden');
        });
        
        englishElements.forEach(function(element) {
            element.classList.toggle('hidden');
        });
    }

    document.getElementById('toggleLanguageButton').addEventListener('click', toggleLanguage);
</script>

    
{% endblock %}
