{% extends 'base.html' %}

{% block title %}
  {{ super() }}
  ბლანკის რედაქტირება
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_list.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="list-menu">
    <form class='delete-form' method="POST" action="/list_delete" onsubmit="return confirm('ნამდვილად გსურთ წაშლა?');">
        <input type="hidden" name="item_id" value="{{ data.id }}">
        <input type="hidden" name="date" value="{{ data.date }}">
        <input type="hidden" name="where_from" value="{{ data.where_from }}">
        <button type="submit">ჩანაწერის წაშლა</button>
    </form>
</div>

<style>
    .delete-form {
        text-align: center;
    }

    .delete-form button {
        background-color: #ff0000; /* Красный цвет */
        color: #ffffff; /* Белый цвет текста */
        border: none;
        padding: 10px 20px; /* Отступы внутри кнопки */
        border-radius: 5px; /* Закругление углов */
        cursor: pointer; /* Курсор при наведении */
    }

    .delete-form button:hover {
        background-color: #cc0000; /* Цвет кнопки при наведении */
    }
</style>





    <h2 class="edit-list">რედაქტირება</h2>
    <div class="blanks_block_">
        <form method="POST" action="/list_edit_id" >
            <input type="hidden" name="id" value="{{ data.id }}">
            <input type="hidden" name="date" value="{{ data.date }}">
            <input type="hidden" name="where_from" value="{{ data.where_from }}">
            <div class="line">
                <p class="description">გამგზავნი:</p>
                <div class="content-duo">
                    <p class="name">სახელი/გვარი</p>
                    <input type="text" name="sender_fl" value="{{ data.sender_fio }}">
                </div>
                <div class="content-duo">
                    <p class="name">ტელეფონი</p>
                    <input type="text" name="sender_phone" value="{{ data.sender_phone }}">
                </div>
            </div>

            <div class="line">
                <p class="description">მიმღები:</p>
                <div class="content-duo">
                    <p class="name">სახელი/გვარი</p>
                    <input type="text" name="recipient_fl" required value="{{ data.recipient_fio }}">
                </div>
                <div class="content-duo">
                    <p class="name">ტელეფონი</p>
                    <input type="text" name="recipient_phone" required value="{{ data.recipient_phone }}">
                </div>
            </div>

            <div class="line">
                <p class="description">ინფორმაცია:</p>
                <div class="content-trio">
                    <p class="name">პასპორტი</p>
                    <input type="text" name="passport" value="{{ data.passport }}">
                </div>
                <div class="content-trio">
                    <p class="name">ქალაქი</p>
                    <input type="text" name="city" value="{{ data.city }}">
                </div>
                <div class="content-trio">
                    <p class="name">ღირებულება</p>
                    <input type="text" id="numericInput" oninput="sanitizeInput(this)" name="cost" value="{{ data.price }}">
                </div>
            </div>
            <div class="line">
                <p class="description">წონები:</p>
                <div class="content-solo">
                    <p class="name">წონა</p>
                    <input type="text" name="weights" id="weightsInput" oninput="weightsInputHandler(this)" required value="{{ data.weights }}">
                </div>
            </div>
            <div class="line">
                <p class="description">კომენტარი:</p>
                <div class="content-solo">
                    <p class="name">დამატებითი ინფორმაცია</p>
                    <input type="text" name="comment" value="{{ data.comment }}">
                </div>
            </div>
            <div class="line">
                <p class="description">თანხა/მიტანა:</p>
                <div class="content-duo">
                    <p class="name">გადახდა</p>
                    <input type="text" id="numericInput" name="payment" oninput="sanitizeInput(this)" required value="{{ data.cost }}">
                </div>
                <div class="content-duo">
                    <p class="name">მისამართი</p>
                    <input type="text" name="address" value="{{ data.address }}">
                </div>
            </div>
            <div class="line">
                <p class="description">სტატუსი:</p>
                <div class="content-duo">
                    <p class="name">გადახდის სტატუსი</p>
                    <div class="radio-block">
                        <label class="radio-label">
                            <input type="radio" name="payment_status" value="paid" {% if data.payment_status == 'paid' %} checked {% endif %}>
                            <span class="radio-custom">
                                <img src="/static/images/paid cash.png" alt="Картинка">
                            </span>
                        </label>
                    
                        <label class="radio-label">
                            <input type="radio" name="payment_status" value="card" {% if data.payment_status == 'card' %} checked {% endif %}>
                            <span class="radio-custom">
                                <img src="/static/images/paid card.png" alt="Картинка">
                            </span>
                        </label>
                    
                        <label class="radio-label">
                            <input type="radio" name="payment_status" value="not_paid" {% if data.payment_status == 'not_paid' %} checked {% endif %}>
                            <span class="radio-custom">
                                <img src="/static/images/not paid.png" alt="Картинка">
                            </span>
                        </label>
                    </div>                    
                </div>
                <div class="content-duo">
                    <p class="name">გადახდის მეთოდი</p>
                    <div class="radio-block">
                        <label class="radio-label">
                            <input type="radio" name="payment_currency" value="GEL" {% if data.currency == 'GEL' %} checked {% endif %}>
                            <span class="radio-custom">
                                <span class="radio-label-text">₾</span>
                            </span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="payment_currency" value="RUB" {% if data.currency == 'RUB' %} checked {% endif %}>
                            <span class="radio-custom">
                                <span class="radio-label-text">₽</span>
                            </span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="payment_currency" value="EUR" {% if data.currency == 'EUR' %} checked {% endif %}>
                            <span class="radio-custom">
                                <span class="radio-label-text">€</span>
                            </span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="payment_currency" value="USD" {% if data.currency == 'USD' %} checked {% endif %}>
                            <span class="radio-custom">
                                <span class="radio-label-text">$</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="send-data">
                <button type="submit" id="edit">რედაქტირება</button>
            </div>
        </form>




        <div class="content_list_block">
            <div class="blanks_block_">
                <form method="POST" action="/list_edit_id>
                    <input type="hidden" name="id" value="{{ data.id }}">
                    <input type="hidden" name="date" value="{{ data.date }}">
                    <input type="hidden" name="where_from" value="{{ data.where_from }}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sender_fl">გამგზავნი:</label>
                                <input type="text" class="form-control" name="sender_fl" value="{{ data.sender_fio }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sender_phone">ტელეფონი</label>
                                <input type="text" class="form-control" name="sender_phone" value="{{ data.sender_phone }}" oninput="sanitizeInput(this)">
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient_fl">მიმღები:</label>
                                <input type="text" class="form-control" name="recipient_fl" value="{{ data.recipient_fio }}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient_phone">ტელეფონი</label>
                                <input type="text" class="form-control" name="recipient_phone" value="{{ data.recipient_phone }}" oninput="sanitizeInput(this)" required>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="passport">პასპორტი</label>
                                <input type="text" class="form-control" name="passport" value="{{ data.passport }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="city">ქალაქი</label>
                                <input type="text" class="form-control" name="city" value="{{ data.city }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cost">ღირებულება</label>
                                <input type="text" class="form-control" value="{{ data.price }}" oninput="sanitizeInput(this)" name="cost">
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="weights">წონები:</label>
                                <input type="text" class="form-control" id="weightsInput" value="{{ data.weights }}" oninput="weightsInputHandler(this)" required>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="comment">კომენტარი:</label>
                                <input type="text" class="form-control" name="comment" value="{{ data.comment }}">
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="payment">თანხა/მიტანა:</label>
                                <input type="text" class="form-control" value="{{ data.cost }}" name="payment" oninput="sanitizeInput(this)" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address">მისამართი</label>
                                <input type="text" class="form-control" name="address" value="{{ data.address }}">
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="payment_status">სტატუსი:</label>
                                <div class="radio-block">
                                    <label class="radio-label">
                                        <input type="radio" name="payment_status" value="paid" {% if data.payment_status == 'paid' %} checked {% endif %}>
                                        <span class="radio-custom">
                                            <img src="/static/images/paid cash.png" alt="Картинка">
                                        </span>
                                    </label>
                                
                                    <label class="radio-label">
                                        <input type="radio" name="payment_status" value="card" {% if data.payment_status == 'card' %} checked {% endif %}>
                                        <span class="radio-custom">
                                            <img src="/static/images/paid card.png" alt="Картинка">
                                        </span>
                                    </label>
                                
                                    <label class="radio-label">
                                        <input type="radio" name="payment_status" value="not_paid" {% if data.payment_status == 'not_paid' %} checked {% endif %}>
                                        <span class="radio-custom">
                                            <img src="/static/images/not paid.png" alt="Картинка">
                                        </span>
                                    </label>
                                </div>  
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="payment_currency">გადახდის მეთოდი</label>
                                <div class="radio-block">
                                    <label class="radio-label">
                                        <input type="radio" name="payment_currency" value="GEL" {% if data.currency == 'GEL' %} checked {% endif %}>
                                        <span class="radio-custom">
                                            <span class="radio-label-text">₾</span>
                                        </span>
                                    </label>
                                    <label class="radio-label">
                                        <input type="radio" name="payment_currency" value="RUB" {% if data.currency == 'RUB' %} checked {% endif %}>
                                        <span class="radio-custom">
                                            <span class="radio-label-text">₽</span>
                                        </span>
                                    </label>
                                    <label class="radio-label">
                                        <input type="radio" name="payment_currency" value="EUR" {% if data.currency == 'EUR' %} checked {% endif %}>
                                        <span class="radio-custom">
                                            <span class="radio-label-text">€</span>
                                        </span>
                                    </label>
                                    <label class="radio-label">
                                        <input type="radio" name="payment_currency" value="USD" {% if data.currency == 'USD' %} checked {% endif %}>
                                        <span class="radio-custom">
                                            <span class="radio-label-text">$</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="send-data">
                        <button type="submit" id="edit" class="btn btn-primary">რედაქტირება</button>
                    </div>
                </form>







    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}