{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    საწყობი
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_storage.css') }}">

<div class="bg-image"></div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Форма добавления -->
        <div class="col-md-4 col-sm-12 mb-4 d-flex">
            <div class="card shadow flex-fill">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">დამატება</h5>
                </div>
                <div class="card-body bg-light">
                    <form id="add-form" action="/save">
                        <div class="form-group">
                            <input type="text" name="shelf" id="add_shelf" value="" autocomplete="off" placeholder="თარო" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="trecing" id="add_trecing" autocomplete="off" placeholder="თრექინგები" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">დამატება</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Форма поиска -->
        <div class="col-md-4 col-sm-12 mb-4 d-flex">
            <div class="card shadow flex-fill">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">ძიება</h5>
                </div>
                <div class="card-body bg-light">
                    <form id="find-form" action="/find" method="POST">
                        <div class="form-group">
                            <div id="location-container">
                                <input type="text" name="shelf" id="find_shelf" readonly value="{{ location }}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="trecing" id="find_trecing" autocomplete="off" placeholder="თრექინგი" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="info" id="trecing_info" autocomplete="off" placeholder="კომენტარი" class="form-control">
                        </div>
                        <button type="submit" id="f_s" class="btn btn-primary btn-block">ძიება</button>
                    </form>
                    <div id="result-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-image_l"></div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





<script src="{{ url_for('static', filename='js/storage/data_save.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/data_find.js') }}"></script>

{% for cat, msg in get_flashed_messages(True) %}
    <div class='flash {{cat}}'>{{msg}}</div>
{% endfor %}
{% endblock %}
