{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    დამატება
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_storage.css') }}">

<div class="bg-image"></div>
<div class="storage_forms">
    <div id="add-container">
        <div class="storage_add">
            <form id="add-form" class="add-form" action="/save">
                <label class="add_name">დამატება</label>
                <input type="text" name="shelf" id="add_shelf" value="{{ last }}" autocomplete="off" placeholder="თარო" class="input-centered">
                <input type="text" name="trecing" id="add_trecing" autocomplete="off" placeholder="თრექინგი" class="input-centered">
                <input type="submit" value="დამატება">
            </form>
        </div>
    </div>

    <div class="add_user_bot">
        <form id="user_add" action="/user_add" method="POST">
            <label class="user_add_label">ბოტი</label>
            <input type="text" name="user_id"  class="user_add_input" placeholder="telegram ID">
            <input type="submit" value="დამატება" id="user_add_submit">
        </form>
    </div>

    <div class="storage_find">
        <form id="find-form" class="find-form" action="/find" method="POST">
            <label class="find_name">ძიება</label>
            <div id="location-container">
                <input type="text" name="shelf" id="find_shelf" readonly value="{{ location }}" class="input-centered">
            </div>
            <div class="f">
                <input type="text" name="trecing" id="find_trecing" autocomplete="off" placeholder="თრექინგი" class="input-centered">
                <input type="text" name="info" id="trecing_info" autocomplete="off" placeholder="კომენტარი" class="input-centered">
            </div>
            <input type="submit" value="ძიება" id="f_s">
        </form>
        <div id="result-container"></div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#add_trecing').focus();

    $('#add-form').submit(function(event) {
        event.preventDefault();

        var formData = $(this).serialize();

        $.ajax({
            type: 'POST',
            url: '/save',
            data: formData,
            success: function(response) {
                if (response.success === false) {
                    showMessage(response.message, false);
                } else {
                    // Обработка успешного ответа
                    var lastShelf = response.last;
                    $('#add_shelf').val(lastShelf);
                    $('#add_trecing').val('').blur();
                    $('#add_trecing').focus();
                }
            },
            error: function() {
                console.log('Ошибка при выполнении AJAX-запроса');
            }
        });
    });

        $('#find-form').submit(function(event) {
            event.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: '/find',
                data: formData,
                success: function(response) {
                    var location = response.shelf;

                    $('#location-container').html('<input type="text" name="shelf" id="find_shelf" readonly value="' + location + '" class="input-centered">');
                    $('#find_trecing').val('');
                    $('#result-container').html(response.otherData);
                    $('#find_trecing').focus();
                },
                error: function() {
                    console.log('Ошибка при выполнении AJAX-запроса');
                }
            });
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
      const form = document.getElementById("user_add");
      const userInput = document.querySelector(".user_add_input");
  
      form.addEventListener("submit", function(event) {
        event.preventDefault(); // Предотвратить стандартное поведение отправки формы
        const user_id = userInput.value;
  
        // Отправить POST-запрос на сервер
        fetch("/user_add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ user_id }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Обработать ответ от сервера, если необходимо
            console.log(data);
            
            // Очистить инпут после успешной отправки
            userInput.value = '';
          })
          .catch((error) => {
            console.error("Ошибка при отправке POST-запроса:", error);
          });
      });
    });
  </script>

{% for cat, msg in get_flashed_messages(True) %}
    <div class='flash {{cat}}'>{{msg}}</div>
{% endfor %}
{% endblock %}
